
  
{% extends '::layout.html.twig' %}

{% block mymodule %} My Districts{% endblock %}
{% block modulelist %} District List{% endblock %}
{% block right_section %}
<div class="span9 farmer-right">
  <!-- Farmer Group -->
    {% block search %}
      {# {{ include('FarmerBundle:Farmer:farmer_search.html.twig') }} #}
    {% endblock %}
    <div class="farmer-detail-2">
        <ul class="breadcrumb">
            <li><a href="{{ path('api_locationbundle_get_districts') }}">Districts list</a> <span class="divider">/</span></li>
            <li><a href="{{ path('api_locationbundle_new_district') }}">Add District</a> <span class="divider">/</span></li>
        </ul>
    </div>

    <div class="table-listing">
      <div class="framer-table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="table-list-first"><input type="checkbox" name=""></th>
              <th>{{ knp_pagination_sortable(districts, 'Id', 'pageentity.id') }}</th>
              <th 
                {% if districts.isSorted('pageentity.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(districts, 'Name', 'pageentity.name') }}
              </th>
              <th colspan="8" class="table-list-last">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for district in districts %}
              <tr {% if loop.index is odd %}class="odd"{% endif %}>
                <td><input type="checkbox" name="" value="{{ district.id }}"></td>
                <td> {{ district.id }}</td>
                <td> {{ district.name }}</td>
                
                <td>
                  <a href="{{ path('api_locationbundle_edit_district',{'id': district.id}) }}">
                    <img src="{{ asset('images/list-icon-1.png') }}" alt="">
                  </a>
                </td>
                <td>
                  <a href="{{ path('api_locationbundle_delete_district',{'id': district.id}) }}" data-method="DELETE" class="rest">
                    <img src="{{ asset('images/list-icon-2.png') }}" alt="">
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="row-fluid farmer-paging">
        </div>
        {{ knp_pagination_render(districts, '::pagination_navigation.html.twig') }}
      
      </div>
    </div>
  </div>
</div> 
<script type="text/javascript" src="{{ asset('js/restfulizer.js') }}"></script>
{% endblock %}
  