{% extends 'base.html.twig' %}
{% block head %}
    {{parent()}}
    {% block stylesheets %}
        <title>Welcome! Maestec services</title>
        <meta name="theme-color" content="#2d1c4c"/>
        <link rel="manifest" href="/ecard/web/bundles/report/assets/manifest.json">
        <link rel="apple-touch-startup-image" href="/launch.png">
        {#        <link rel="stylesheet" href="{{asset('bundles/user/imagelarger/jquery.fancybox.css')}}" type="text/css" media="screen" />#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {{parent()}}
        <style>

            html { 
                background: url({{asset('bundles/report/image/cinema.jpeg')}}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size:cover;
                background-size: cover;
                height: 100%;
            }
            body {
                color: black;
                {#                background:#ffffffed;#}
                min-height: 100%;
                font-size: 1.5em
            }


            /* Inner */
            .popup-inner {
                max-width:200px;
                width:40%;
                padding:20px;
                position:absolute;
                top:50%;
                left:50%;
                -webkit-transform:translate(-50%, -50%);
                transform:translate(-50%, -50%);
                box-shadow:0px 2px 6px rgba(0,0,0,1);
                border-radius:3px;
                background:#fff;
            }


        </style>
        {% stylesheets
               filter="cssrewrite" 
        %}
        <link  rel="stylesheet" href="{{asset_url}}"  />
        {% endstylesheets %}    

    {% endblock %}
{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container" style="padding: 30px">
        <div id="top" class="row-fluid">
            <header class="header" style="position: relative;padding-top: 2px">


            </header>
            <div class="col-lg-12" >
            </div>
            <div class="col-lg-12 " >

            </div>

        </div>
        <div class="row-fluid" >                    
            <div class="row">
                <div class="panel panel-warning ">
                    <div class="panel-heading">About the MaeTec IA TASK</div>
                    <div class="panel-body">
                        <p><i>MaesTec Business Solutions Limited</i>, a supply chain company, is diversifying its business operations 
                            by venturing into given their customers the opportunity to see movies through a cinema at an affordable price. 
                            Given this venture,the company intends to automate its movie tickets (ticketing software) at a 
                            discount rate of 10% for its customers</p> <br>

                        <p> As a project manager of your company (IT), develop a detailed system’s requirement, based on the client’s requirements above, 
                            to woo MaesTec Solutions Business Limited into awarding the contract to your company. In the systems requirement engineering phase, 
                            identify the various objects (Classes) of the intended system (Be innovative). Put the intended system into context and identify the potential
                            actors of the systems. Develop the following object-oriented models (UML) for the intended system.</p>


                        <ul class="list-group">
                            <li class="list-group-item">Use Case diagram </li>
                            <li class="list-group-item">Sequence diagram</li>
                            <li class="list-group-item">Class diagram</li>
                            <li class="list-group-item">Activity diagram</li>
                        </ul>
                        <br>
                        <p> Design and develop the intended system. Be guided by the following conditions:</p>
                        <ul class="list-group"><li class="list-group-item"> Use any programming language of your choice.  </li>

                            <li class="list-group-item">Justify why you would use Plan-driven or agile software development for the development of the software.
                            </li>
                            <li class="list-group-item">Indicate whether you will use plan-driven or agile software development approach. </li>
                            <li class="list-group-item">You are free to resuse any system, component (frameworks) or object (libraries) for the development. However, you are required to present the details in the documentation.
                            </li>
                        </ul>
                        <p> C.	Document the entire work according to the following outline. The documentation should not be less than 25pages. You can make changes to the outline as you deem fit. 
                            :</p>
                        	Introduction <br>
                        	Background<br>
                        	Systems requirement <br>
                        	Systems Modelling <br>
                        	  Sequence diagram<br>
                        	Activity diagram<br>
                        	Class diagram<br>
                        	Use Case diagram<br>
                        Design and Implementation<br>
                         Plan or Agile development process (choose one)<br>
                         Systems implementation<br>
                         Systems Architecture <br>
                         Testing and Evolution<br>
                        	Conclusion 



                    </div>
                </div>                
            </div>
        </div>
    </div>

{% endblock %} 
{% block javascripts %}
    {{ parent() }}

    {% javascripts 
    %} 

    {%endjavascripts %} 

    <script src="{{asset('bundles/report/js/sw.js')}}"></script>
    <script src="{{asset('bundles/report/js/swmf.js')}}"></script>
    <script>
        $('[data-fancybox="gallery"]').fancybox({
            touch: false
        });
    </script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>

    <script>
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        //validate
        $.validator.setDefaults({
            submitHandler: function () {
                registerUser();
            }
        });

        //show next step
        $("#ticketForm").validate({
            rules: {
                mobileNo: {
                    required: true,
                    digits: true
                },
                ticketNumber: {
                    required: true,
                }
            }
        });


        $('#ticketNumber').on('click', function () {
            calAmount();
        })
        $('#ticketNumber').on('change', function () {
            calAmount();
        })
        $('#completeButton').click(function (e) {

            calAmount();

        })



    </script>


    <script language = "javascript">
        function registerUser() {
        {#            $("#loader").removeClass('hide');#}
                var formData = $("#ticketForm").serialize();

                $.ajax({
                    url: "{{path('Sky_user_admin_register')}}",
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: formData
                })
                        .done(function (response) {
                            if (response.error) {
                                //error handling
                                $("#response").removeClass().addClass('monza').text(response.message);
                                console.log(response);
                            } else if (!response.error) {
                                //success
                                $('#ticketForm').hide();
                                $("#response").addClass('herb').text('Confirm Token');
                                $("#smsMessage").text(response.message);
                                $('#paymentDetails').removeClass('hide');
                                console.log(response);
                            }
                            $("#loader").addClass('hide');

                        })
                        .fail(function (response) {
                            $("#response").removeClass().addClass('monza').text(response.statusText)
                            $("#loader").addClass('hide');
                            console.log(response);
                        })
            }


    </script> 
{% endblock %}