{% extends 'base.html.twig' %}
{% block head %}
    {{parent()}}
    {% block stylesheets %}
        <title>Maestec services</title>
        <meta name="theme-color" content="#2d1c4c"/>
        <link rel="manifest" href="/ecard/web/bundles/report/assets/manifest.json">
        <link rel="apple-touch-startup-image" href="/launch.png">
        <link rel="stylesheet" href="{{asset("bundles/report/css/jquery.fancybox.min.css")}}" />
        <link rel="stylesheet" href="{{asset("bundles/report/css/font-awesome.min.css")}}" />
        {{parent()}}
        <style>
            body { 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size:cover;
                background-size:cover;
            }
            .chart-container .highcharts-grid {
                display: none;
            }

            body {
                overflow: -moz-scrollbars-vertical;
                overflow-x: hidden;
                overflow-y: auto;
            }

            .lowerbg{
                background-color: #e41269 !important;
            }

            .notMyThing{
                cursor: pointer;
                color:grey;
            }
            .myThing{
                cursor: pointer;
                color:grey;
            }
            p{
                margin: 12px;
            }

            .popup {
                width:100%;
                height:100%;
                display:none;
                position:fixed;
                top:0px;
                left:0px;
                background:rgba(0,0,0,0.75);
            }

            /* Inner */
            .popup-inner {
                max-width:200px;
                width:40%;
                padding:20px;
                position:absolute;
                top:50%;
                left:50%;
                -webkit-transform:translate(-50%, -50%);
                transform:translate(-50%, -50%);
                box-shadow:0px 2px 6px rgba(0,0,0,1);
                border-radius:3px;
                background:#fff;
            }

            /* Close Button */
            .popup-close {
                width:30px;
                height:30px;
                padding-top:4px;
                display:inline-block;
                position:absolute;
                top:0px;
                right:0px;
                transition:ease 0.25s all;
                -webkit-transform:translate(50%, -50%);
                transform:translate(50%, -50%);
                border-radius:1000px;
                background:rgba(0,0,0,0.8);
                font-family:Arial, Sans-Serif;
                font-size:20px;
                text-align:center;
                line-height:100%;
                color:#fff;
            }

            .popup-close:hover {
                -webkit-transform:translate(50%, -50%) rotate(180deg);
                transform:translate(50%, -50%) rotate(180deg);
                background:rgba(0,0,0,1);
                text-decoration:none;
            }


            .thumbnail {
                /*display: block;*/
                padding: 4px;
                margin-bottom: 0px;
                margin-right: 10px;
                line-height: 1.42857143;
                border: .5px solid #ddd;
                border-radius: opx;
                -webkit-transition: border .2s ease-in-out;
                -o-transition: border .2s ease-in-out;
                transition: border .2s ease-in-out;
                float: left;
            }

            .thumbnail>img.otherPoster {
                margin-right: auto;
                margin-left: 0px;
                height:250px
            }

            a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
                border-color: none;
            }
            .otherDetails{
                font-size: 1.2em;
            }

            .ticket{
                height: 60px;
                cursor: pointer;
            }

            .movieCard{
                background: #ddddddb5;
                padding: 10px;
                margin-left:10px;
                margin-bottom:5px
            }
            .title{
                color: #af1024;
                font-size: 1.5em;
            }
            .trending{
                margin-bottom:20px;
                font-size: 1.5em;
            }
            .trendImage{
                max-width: 50%;
                min-width: 50%;
            }

            .col-xs-4, .col-lg-4, .col-md-4{
                width: 32%;
            }

            .form-control {
                color: black;
            }

            .priceAmount{
                font-size: 2em;
            }

            .cursorHand{
                cursor: pointer
            }
            .form-control {
                color: black;
            }

            .priceAmount{
                font-size: 2em;
            }

            select {

                background-position: right 10px top 15px;
                background-size: 16px 16px;

            }
        </style>
        {% stylesheets
               filter="cssrewrite" 
        %}
        <link  rel="stylesheet" href="{{asset_url}}"  />
        {% endstylesheets %}    

    {% endblock %}
{% endblock %}

{% block body %}
    {{parent()}}

    <div class="container-fluid" style="padding: 30px">
        <div id="top" class="row-fluid">
            <header class="header" style="position: relative;padding-top: 2px">
                <!--logo end-->
                <div class="nav notify-row" id="top_menu" >
                </div>
                <div class="top-nav ">
                </div>
            </header>
            <div class="col-lg-12" >
            </div>
            <div class="col-lg-12 " >

            </div>

        </div>

        <div class="row-fluid" >  
            <p class="lead trendingBlock red" style="background-color: #C91F37;padding:10px;color: white;">
                <i class="fa fa-star"></i>  Hot and Trending 
            </p>
        </div>
        <div class="row-fluid" > 
            <div class="row">
                <!--Hit Movie coming Up-->
                <div class="col-md-12 col-xs-12" style="padding-right: 0px;">
                    {% for movie in trending%}
                        <div style="display: none;" id="hidden-content{{movie.id}}">
                            <h3> {{movie.title}} @ &#8373; {{movie.price}}</h3>
                            <form id="ticketForm{{movie.id}}"  name="ticketForm" class="form-mini ticketForm"  action method="POST"  class="sonata-filter-form form-horizontal">
                                <div id="detailForm">
                                    <br>
                                    <div class="form-row">
                                        Mobile Number
                                        <input type="tel" minlength="10"  maxlength="10" id="mobileNo" value="" name="mobileNo" class=" mobileNo form-control spacing" placeholder="Contact eg: 0541363259" autofocus required>      
                                    </div>
                                    <div class="form-row hide">
                                        Movie
                                        <input type="tel" minlength="10"  maxlength="10" id="movieName" value="{{movie.title}}" name="movieName" class=" movieName form-control spacing" placeholder="">      
                                    </div>
                                    <div class="form-row hide">
                                        <input type="text"  id="movieId" value="{{movie.id}}" name="movieId">      
                                    </div>
                                    <br>
                                    <div class="form-row hide">
                                        total Discount
                                        <input type="text"  id="discount{{movie.id}}" value="{{movie.discount*movie.price}}" name="discount" class="form-control spacing">      
                                    </div>

                                    <div class="form-row hide">
                                        Discount
                                        <input type="text"  id="dis{{movie.id}}" value="{{movie.discount}}" name="dis" class="form-control spacing">      
                                    </div>
                                    <div class="form-row hide">
                                        price
                                        <input type="text"  id="price{{movie.id}}" value="{{movie.price}}" name="price" class="form-control spacing">      
                                    </div>
                                    <div class="form-row ">
                                        Number of  ticket
                                        <input type="number"  id="ticketNumber{{movie.id}}" onchange="ticketNumberCal({{movie.id}})" onkeypress="ticketNumberCal({{movie.id}})" onclick="ticketNumberCal({{movie.id}})" value="1" name="ticketNumber" min="1" class="ticketNumber form-control spacing" required>            
                                    </div>
                                    <div class="form-row hide">
                                        Final Cost
                                        <input type="text"  id="finalCost{{movie.id}}" value="{{movie.price - (movie.discount*movie.price)}}" name="finalCost" class="finalCost form-control spacing" >            
                                    </div>
                                    <br>
                                    <div class="alert alert-info">
                                        <p class="priceAmount">Total Cost :&#8373;<span id="priceAmount{{movie.id}}"> {{movie.price - (movie.discount*movie.price)}}</span></p>
                                        <p class="badge badge-success">Discounted at <span>{{movie.discount*100}}%</span></p>
                                    </div>
                                    <div class="lds-ellipsis hide" id="loader">
                                        <div></div><div></div><div></div><div></div>
                                    </div> 
                                    <div class="form-row form-last-row">
                                        <button type="submit" onclick="loadFormData({{movie.id}})" class="completeButton btn btn-lg btn-block btn-success" id="completeButton">Purchase</button>
                                    </div>
                                    <div style="color:white;padding:1em">
                                        <h3>
                                            <header id="response{{movie.id}}" class="blue">
                                            </header>
                                        </h3>
                                    </div>
                                </div>
                                <br/>


                            </form>
                            <div class="form-mini hide"id="paymentDetails{{movie.id}}">
                                <div id="" class="form-row text-center">
                                    <p class="col-md-6 col-xs-12">
                                        <img id="ticket" src="{{asset('bundles/report/image/mtnmoney.png')}}" style="width:250px">
                                    </p>
                                    <p class="col-md-6 col-xs-12">
                                        <img id="ticket" src="{{asset('bundles/report/image/vodacash.png')}}" style="width:250px">
                                    </p>
                                </div>
                                <div id="smsMessage{{movie.id}}" class="form-row text-center" style="font-size:1.5em">
                                    Payment Details has been Sent to Phone number Provided
                                </div>
                                <br>
                                <br>
                                <div class="form-row text-center" style="font-size:1.5em">
                                    <div class="alert alert-warning">
                                        Payment Methods coming Soon
                                    </div>  
                                    <p class="col-xs-12 col-md-12">
                                        <img id="ticket" src="{{asset('bundles/report/image/visa.gif')}}" style="width:200px">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{{ asset('uploads/movie/') }}{{movie.movImage}}" />
                                <div class="caption">
                                    <h2 class="media-heading title">{{movie.title}} 
                                        <span style="color: tomato;font-size:20px;">
                                            {% for i in 0..movie.rating %}
                                                <i class="fa fa-star" style="vertical-align: middle;"></i>
                                            {% endfor %}
                                        </span>
                                    </h2>
                                    <h4 class="media-heading text-capitalize">  <i class="fa fa-calendar-o" style="vertical-align: middle;"></i>  {{movie.showingDate|date('D jS F Y')}}</h4>
                                    <p> Audience: {{movie.audience}}<p> 
                                    <p>
                                        {{movie.showingTime}} 
                                    </p>
                                    <div class="alert alert-info text-center" style="font-size:larger">
                                        <div  class="caption">
                                            <span class="pull-left title">
                                                Price :&#8373; {{movie.price}}
                                            </span>
                                            <span onclick="loadFormData({{movie.id}})" class="cursorHand" data-fancybox data-src="#hidden-content{{movie.id}}" href="javascript:;">
                                                <img id="ticket" src="{{asset('bundles/report/image/ticket.png')}}" style="height: 60px;margin-top: -15px;">
                                            </span>
                                            {#<span class="media-heading pull-right  badge" style="margin-top:5px">
                                                <i class="fa fa-arrow-down"> </i> {{movie.discount*100}}%
                                            </span>#}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor%}
                </div>


            </div>  
            <div class="row-fluid">  
                <p class="lead trendingBlock" style="background-color: #a29bfe;padding:10px;color: white;">
                    Also Showing in our Cinema
                </p>
            </div>
            <div class="row">
                <!--other movies-->
                {% for movie in allMovies%}
                    <div class="col-xs-12 col-lg-4 col-md-4 movieCard ">
                        <a  class="thumbnail text-center" href="{{path('movie',{id:movie.id}) }}">
                            <img  class="otherPoster" src="{{ asset('uploads/movie/') }}{{movie.movImage}}" />
                        </a>
                        <div class="otherDetails">
                            <p class="title"> {{movie.title}}
                                <span style="color: tomato;font-size:10px; vertical-align: text-top">
                                    {% for i in 0..movie.rating %}
                                        <i class="fa fa-star" style="vertical-align: middle;"></i>
                                    {% endfor %}
                                </span>
                            <p> 
                            <p> Price: {{movie.price}} Ghc<p> 
                            <p> Show Date: {{movie.showingDate is empty ? "" : movie.showingDate|date('D')}} ,{{movie.showingDate is empty ? "" : movie.showingDate|date('F jS y')}}<p> 
                            <p> Run Time <i class="fa fa-clock-o" aria-hidden="true"> :</i> {{movie.duration}}<p> 
                            <p> Genre: {{movie.Category}}<p> 
                            <p> Audience: {{movie.audience}}<p> 
                        </div>
                    </div>

                {% endfor%}
            </div>
        </div>
    </div>


{% endblock %} 
{% block javascripts %}
    {{ parent() }}

    {% javascripts%} 


    {%endjavascripts %} 


    <script src="{{asset('bundles/report/js/sw.js')}}"></script>

    <script src="{{asset('bundles/report/js/swmf.js')}}"></script>

    <script type="text/javascript">
                                                $('[data-fancybox="gallery"]').fancybox({
                                                    touch: false
                                                });
    </script>
    <script src="{{asset('bundles/report/js/jquery.validate.min.js')}}"></script>



    <script language = "javascript">
                                                jQuery.validator.setDefaults({
                                                    debug: true,
                                                    success: "valid"
                                                });
                                                //validate
        {#        $.validator.setDefaults({
                    submitHandler: function () {
                        registerUser();
                    }
                });
        #}
            //show next step
            function loadFormData(id) {

                $("#ticketForm" + id).validate({
                    submitHandler: function () {
                        registerUser(id);
                    },
                    rules: {
                        mobileNo: {
                            required: true,
                            digits: true
                        },
                        ticketNumber: {
                            required: true,
                        }
                    }
                });
            }

            function ticketNumberCal(id) {
                $tN = $('#ticketNumber' + id).val();
                $price = $('#price' + id).val();
                $ticketDiscount = $('#dis' + id).val();

                $totalCost = ($price * $tN);
                $discount = ($totalCost * $ticketDiscount);
                $finalCost = $totalCost - $discount;

                $('#priceAmount' + id).text($finalCost);
                $('#discount' + id).val($discount);
                $('#finalCost' + id).val($finalCost);

            }





    </script> 


    <script language = "javascript">
        function registerUser(id) {
        {#            $("#loader").removeClass('hide');#}
                var formData = $("#ticketForm" + id).serialize();
                console.log(formData);

                $.ajax({
                    url: "{{path('Sky_user_admin_register')}}",
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: formData
                })
                        .done(function (response) {
                            if (response.error) {
                                //error handling
                                $("#response" + id).removeClass().addClass('monza').text(response.message);
                                console.log(response);
                            } else if (!response.error) {
                                //success
                                $('#ticketForm' + id).hide();
                                $("#response" + id).addClass('herb').text('Confirm Token');
                                $("#smsMessage" + id).text(response.message);
                                $('#paymentDetails' + id).removeClass('hide');
                                console.log(response);
                            }
                            $("#loader").addClass('hide');

                        })
                        .fail(function (response) {
                            $("#response").removeClass().addClass('monza').text(response.statusText)
                            $("#loader").addClass('hide');
                            console.log(response);
                        })
            }
    </script> 
{% endblock %}