{% extends 'base.html.twig' %}
{% block head %}
    {{parent()}}
    {% block stylesheets %}
        <title>Welcome! Ecard services</title>
        <meta name="theme-color" content="#2d1c4c"/>
        <link rel="manifest" href="/ecard/web/bundles/report/assets/manifest.json">
        <link rel="apple-touch-startup-image" href="/launch.png">
        {#        <link rel="stylesheet" href="{{asset('bundles/user/imagelarger/jquery.fancybox.css')}}" type="text/css" media="screen" />#}
        <link rel="stylesheet" href="{{asset("bundles/report/css/jquery.fancybox.min.css")}}" />
        <link rel="stylesheet" href="{{asset("bundles/report/css/font-awesome.min.css")}}" />
        {{parent()}}
        <style>

            html { 
                background: url({{asset('bundles/report/image/movieCorn.jpg')}}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size:cover;
                background-size: cover;
                height: 100%;

            }
            body {
                color: black;
                background:#ffffffed;
                min-height: 100%;
            }




            /* Inner */
            .popup-inner {
                max-width:200px;
                width:40%;
                padding:20px;
                position:absolute;
                top:50%;
                left:50%;
                -webkit-transform:translate(-50%, -50%);
                transform:translate(-50%, -50%);
                box-shadow:0px 2px 6px rgba(0,0,0,1);
                border-radius:3px;
                background:#fff;
            }

            /* Close Button */
            .popup-close {
                width:30px;
                height:30px;
                padding-top:4px;
                display:inline-block;
                position:absolute;
                top:0px;
                right:0px;
                transition:ease 0.25s all;
                -webkit-transform:translate(50%, -50%);
                transform:translate(50%, -50%);
                border-radius:1000px;
                background:rgba(0,0,0,0.8);
                font-family:Arial, Sans-Serif;
                font-size:20px;
                text-align:center;
                line-height:100%;
                color:#fff;
            }

            .popup-close:hover {
                -webkit-transform:translate(50%, -50%) rotate(180deg);
                transform:translate(50%, -50%) rotate(180deg);
                background:rgba(0,0,0,1);
                text-decoration:none;
            }


            .thumbnail {
                /*display: block;*/
                padding: 4px;
                margin-bottom: 0px;
                margin-right: 10px;
                line-height: 1.42857143;
                border: .5px solid #ddd;
                border-radius: opx;
                -webkit-transition: border .2s ease-in-out;
                -o-transition: border .2s ease-in-out;
                transition: border .2s ease-in-out;
                float: left;
            }

            .thumbnail>img.otherPoster {
                margin-right: auto;
                margin-left: 0px;
                height:250px
            }

            a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
                border-color: none;
            }
            .otherDetails{
                font-size: 1.2em;
            }

            .ticket{
                height: 60px;
                cursor: pointer;
            }


            .description{
                font-size: 1.5em;
            }
            .trending{
                margin-bottom:20px;
                font-size: 1.5em;
            }
            .trendImage{
                max-width: 50%;
                min-width: 50%;
            }
            .title{
                color: black
            }
            .cursorHand{
                cursor: pointer
            }
            .form-control {
                color: black;
            }

            .priceAmount{
                font-size: 2em;
            }
        </style>
        {% stylesheets
               filter="cssrewrite" 
        %}
        <link  rel="stylesheet" href="{{asset_url}}"  />
        {% endstylesheets %}    

    {% endblock %}
{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container" style="padding: 30px">
        <div id="top" class="row-fluid">
            <header class="header" style="position: relative;padding-top: 2px">


            </header>
            <div class="col-lg-12" >
            </div>
            <div class="col-lg-12 " >

            </div>

        </div>
        <div class="row-fluid" >                    
            <div class="row">
                {% if  movie is not empty %}

                    {#                    {% for movie in movie%}#}
                    <div style="display: none;" id="hidden-content">
                        <h4 class=" text-center">{{movie.title}} Ticket Purchase</h4>
                        <form id="ticketForm" class="form-mini "  action method="POST"  class="sonata-filter-form form-horizontal">
                            <div id="detailForm">
                                <br>
                                <div class="form-row">
                                    Mobile Number
                                    <input type="tel" minlength="10"  maxlength="10" id="mobileNo" value="" name="mobileNo" class="form-control spacing" placeholder="Contact eg: 0541363259" autofocus required>      
                                </div>
                                <div class="form-row hide">
                                    <input type="text"  id="movieName" value="{{movie.title}}" name="movieName" class="form-control spacing" placeholder="{{movie.title}}">      
                                </div>
                                <div class="form-row hide">
                                    <input type="text"  id="movieId" value="{{movie.id}}" name="movieId">      
                                </div>
                                <div class="form-row hide">
                                    discount
                                    <input type="text"  id="discount" value="" name="discount" class="form-control spacing">      
                                </div>
                                <br>
                                <div class="form-row ">
                                    Number of  ticket
                                    <input type="number"  id="ticketNumber" value="1" name="ticketNumber" min="1" class="form-control spacing" required>            
                                </div>
                                <div class="form-row hide">
                                    Final Cost
                                    <input type="text"  id="finalCost" value="{{movie.price - (movie.discount*movie.price)}}" name="finalCost" class="form-control spacing" >            
                                </div>
                                <br>
                                <div class="alert alert-info">
                                    <p class="priceAmount">Total Cost :&#8373;<span id="priceAmount"> {{movie.price - (movie.discount*movie.price)}}</span></p>

                                    <p class="title">Discounted at <span>{{movie.discount*100}}%</span></p>
                                </div>
                                <div class="lds-ellipsis hide" id="loader">
                                    <div></div><div></div><div></div><div></div>
                                </div>
                                <div class="form-row form-last-row">
                                    <button type="submit" class="btn btn-lg btn-block btn-success" id="completeButton">Purchase</button>
                                </div> 
                                <div style="color:white;padding:1em">
                                    <h3>
                                        <header id="response" class="blue">

                                        </header>
                                    </h3>
                                </div>
                            </div>
                            <br/>
                        </form>
                        <div class="form-mini hide"id="paymentDetails">
                            <div id="" class="form-row text-center">
                                <p class="col-md-6 col-xs-12">
                                    <img id="ticket" src="{{asset('bundles/report/image/mtnmoney.png')}}" style="width:250px">
                                </p>
                                <p class="col-md-6 col-xs-12">
                                    <img id="ticket" src="{{asset('bundles/report/image/vodacash.png')}}" style="width:250px">
                                </p>
                            </div>
                            <div id="smsMessage" class="form-row text-center" style="font-size:1.5em">
                                Payment Details has been Sent to Phone number Provided
                            </div>
                            <br>
                            <br>
                            <div class="form-row text-center" style="font-size:1.5em">
                                <div class="alert alert-warning">
                                    Payment Methods coming Soon
                                </div>  
                                <p class="col-xs-12 col-md-12">
                                    <img id="ticket" src="{{asset('bundles/report/image/visa.gif')}}" style="width:200px">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div style="display: none;" id="videoDiv">
                        <h4 class=" text-center">{{movie.title}} Trailer</h4>
                        <p class="col-xs-12 col-md-12">
                            <iframe width="100%" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                            </iframe>
                        </p>
                    </div>

                    <div class="media col-sm-12 col-md-4 text-center"  >
                        <p> 
                            <img src="{{asset('uploads/movie/') }}{{movie.movImage}}" width="100%" />
                        </p>
                    </div>
                    <div class="media-body col-lg-8">
                        <h2 class="media-heading title">{{movie.title}} 
                            <span style="color: tomato;font-size:20px;">
                                {% for i in 0..movie.rating %}
                                    <i class="fa fa-star" style="vertical-align: middle;"></i>
                                {% endfor %}
                            </span>
                        </h2>
                        <h4 class="media-heading text-capitalize">  <i class="fa fa-calendar-o" style="vertical-align: middle;"></i>  {{movie.showingDate|date('D jS F Y')}}</h4>
                        <p> Audience: {{movie.audience}}<p> 
                        <div class="alert alert-info">
                            <h3 class="media-heading text-capitalize">Price :&#8373; {{movie.price}}
                                <span class="media-heading text-capitalize pull-right">
                                    <h4 style="vertical-align: super;"><i class="fa fa-arrow-down"> </i> {{movie.discount*100}}%</h4>
                                </span>
                            </h3>
                        </div>
                        <p class="description">
                            {{movie.shortDescription}}
                        </p>
                        <div class="alert alert-warning">
                            <h3> Showing in the following Cinema Halls</h3>
                            {% for cinema in cinema%} 
                                <p>
                                <h4><span>{{cinema.cinema}} @  {{cinema.showingTime}}</span></h4>
                                </p>
                            {% endfor%}
                        </div>
                        <p>
                            <span class="pull-left cursorHand" data-fancybox data-src="#hidden-content" href="javascript:;">
                                <img id="ticket" src="{{asset('bundles/report/image/ticket.png')}}" style=" width: 100px;">
                            </span>
                            <span class="pull-right cursorHand" data-fancybox data-src="#videoDiv" href="javascript:;" style="padding-top: 20px;" id="videoPreview">
                                {% if movie.previewVideoLink %}
                                    <i data-fancybox="" href="{{movie.previewVideoLink}}" class="fa fa-video-camera" style="color:#efa21a;font-size:70px;vertical-align: middle;"></i>   
                                {% endif %}
                            </span>
                        </p>
                    </div>
                    {#                    {% endfor%}#}
                {% else %}
                    <div class="media col-sm-12  text-center">
                        <h1> OPPS You are Lost</h1>
                        <a class="" href="#">
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %} 
{% block javascripts %}
    {{ parent() }}

    {% javascripts 
    %} 

    {%endjavascripts %} 


    <script src="{{asset('bundles/report/js/sw.js')}}"></script>

    <script src="{{asset('bundles/report/js/swmf.js')}}"></script>
    <script>
        $('[data-fancybox="gallery"]').fancybox({
            touch: false
        });
    </script>
    <script src="{{asset('bundles/report/js/jquery.validate.min.js')}}"></script>

    <script>
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        //validate
        $.validator.setDefaults({
            submitHandler: function () {
                registerUser();
            }
        });

        //show next step
        $("#ticketForm").validate({
            rules: {
                mobileNo: {
                    required: true,
                    digits: true
                },
                ticketNumber: {
                    required: true,
                }
            }
        });


        $('#ticketNumber').on('click', function () {
            calAmount();
        })
        $('#ticketNumber').on('change', function () {
            calAmount();
        })
        $('#completeButton').click(function (e) {

            calAmount();

        })


        function calAmount() {
            $price ={{movie.price}}
                    $ticketDiscount ={{movie.discount}}
                    $tN = $('#ticketNumber').val();
            $totalCost = ($price * $tN);
            $discount = ($totalCost * $ticketDiscount);
            $finalCost = $totalCost - $discount;
            $('#priceAmount').text($finalCost);
            $('#discount').val($discount);
            $('#finalCost').val($finalCost);
        }
    </script>


    <script language = "javascript">
        function registerUser() {
        {#            $("#loader").removeClass('hide');#}
                var formData = $("#ticketForm").serialize();
                console.log(formData);

                $.ajax({
                    url: "{{path('Sky_user_admin_register')}}",
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: formData
                })
                        .done(function (response) {
                            if (response.error) {
                                //error handling
                                $("#response").removeClass().addClass('monza').text(response.message);
                                console.log(response);
                            } else if (!response.error) {
                                //success
                                $('#ticketForm').hide();
                                $("#response").addClass('herb').text('Confirm Token');
                                $("#smsMessage").text(response.message);
                                $('#paymentDetails').removeClass('hide');
                                console.log(response);
                            }
                            $("#loader").addClass('hide');

                        })
                        .fail(function (response) {
                            $("#response").removeClass().addClass('monza').text(response.statusText)
                            $("#loader").addClass('hide');
                            console.log(response);
                        })
            }
    </script> 
{% endblock %}