{% extends 'base.html.twig' %}
{% block head %}
    {{parent()}}
    {% block stylesheets %}
        <title>Maestec services</title>
        <meta name="theme-color" content="#2d1c4c"/>
        <link rel="manifest" href="/ecard/web/bundles/report/assets/manifest.json">
        <link rel="apple-touch-startup-image" href="/launch.png">
        {#        <link rel="stylesheet" href="{{asset('bundles/user/imagelarger/jquery.fancybox.css')}}" type="text/css" media="screen" />#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {{parent()}}
        <style>

            html { 
                background: url({{asset('bundles/report/image/movieCorn.jpg')}}) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size:cover;
                background-size: cover;
                height: 100%;

            }
            body {
                color: black;
                background:#ffffffed;
                min-height: 100%;
            }




            /* Inner */
            .popup-inner {
                max-width:200px;
                width:40%;
                padding:20px;
                position:absolute;
                top:50%;
                left:50%;
                -webkit-transform:translate(-50%, -50%);
                transform:translate(-50%, -50%);
                box-shadow:0px 2px 6px rgba(0,0,0,1);
                border-radius:3px;
                background:#fff;
            }

            /* Close Button */
            .popup-close {
                width:30px;
                height:30px;
                padding-top:4px;
                display:inline-block;
                position:absolute;
                top:0px;
                right:0px;
                transition:ease 0.25s all;
                -webkit-transform:translate(50%, -50%);
                transform:translate(50%, -50%);
                border-radius:1000px;
                background:rgba(0,0,0,0.8);
                font-family:Arial, Sans-Serif;
                font-size:20px;
                text-align:center;
                line-height:100%;
                color:#fff;
            }

            .popup-close:hover {
                -webkit-transform:translate(50%, -50%) rotate(180deg);
                transform:translate(50%, -50%) rotate(180deg);
                background:rgba(0,0,0,1);
                text-decoration:none;
            }


            .thumbnail {
                /*display: block;*/
                padding: 4px;
                margin-bottom: 0px;
                margin-right: 10px;
                line-height: 1.42857143;
                border: .5px solid #ddd;
                border-radius: opx;
                -webkit-transition: border .2s ease-in-out;
                -o-transition: border .2s ease-in-out;
                transition: border .2s ease-in-out;
                float: left;
            }

            .thumbnail>img.otherPoster {
                margin-right: auto;
                margin-left: 0px;
                height:250px
            }

            a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
                border-color: none;
            }
            .otherDetails{
                font-size: 1.2em;
            }

            .ticket{
                height: 60px;
                cursor: pointer;
            }


            .description{
                font-size: 1.5em;
            }
            .trending{
                margin-bottom:20px;
                font-size: 1.5em;
            }
            .trendImage{
                max-width: 50%;
                min-width: 50%;
            }
            .title{
                color: black
            }
            .cursorHand{
                cursor: pointer
            }
            .form-control {
                color: black;
            }

            .priceAmount{
                font-size: 2em;
            }
        </style>
        {% stylesheets
               filter="cssrewrite" 
        %}
        <link  rel="stylesheet" href="{{asset_url}}"  />
        {% endstylesheets %}    

    {% endblock %}
{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container" style="padding: 30px">
        <div id="top" class="row-fluid">
            <header class="header" style="position: relative;padding-top: 2px">


            </header>
            <div class="col-lg-12" >
            </div>
            <div class="col-lg-12 " >

            </div>

        </div>
        <div class="row-fluid" >                    
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %} 
{% block javascripts %}
    {{ parent() }}

    {% javascripts 
    %} 

    {%endjavascripts %} 

    <script src="{{asset('bundles/report/js/sw.js')}}"></script>
    <script src="{{asset('bundles/report/js/swmf.js')}}"></script>
    <script>
        $('[data-fancybox="gallery"]').fancybox({
            touch: false
        });
    </script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>

    <script>
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        //validate
        $.validator.setDefaults({
            submitHandler: function () {
                registerUser();
            }
        });

        //show next step
        $("#ticketForm").validate({
            rules: {
                mobileNo: {
                    required: true,
                    digits: true
                },
                ticketNumber: {
                    required: true,
                }
            }
        });


        $('#ticketNumber').on('click', function () {
            calAmount();
        })
        $('#ticketNumber').on('change', function () {
            calAmount();
        })
        $('#completeButton').click(function (e) {

            calAmount();

        })


        
    </script>


    <script language = "javascript">
        function registerUser() {
        {#            $("#loader").removeClass('hide');#}
                var formData = $("#ticketForm").serialize();

                $.ajax({
                    url: "{{path('Sky_user_admin_register')}}",
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: formData
                })
                        .done(function (response) {
                            if (response.error) {
                                //error handling
                                $("#response").removeClass().addClass('monza').text(response.message);
                                console.log(response);
                            } else if (!response.error) {
                                //success
                                $('#ticketForm').hide();
                                $("#response").addClass('herb').text('Confirm Token');
                                $("#smsMessage").text(response.message);
                                $('#paymentDetails').removeClass('hide');
                                console.log(response);
                            }
                            $("#loader").addClass('hide');

                        })
                        .fail(function (response) {
                            $("#response").removeClass().addClass('monza').text(response.statusText)
                            $("#loader").addClass('hide');
                            console.log(response);
                        })
            }


    </script> 
{% endblock %}