{% extends '::church_admin_layout.html.twig' %}

{% block breadcrumb %}
    {#    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />#}
    <meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">Transactions Report</li>                                                                              
    {% endblock %}
    {% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/report/css/bootstrap-table.css') }}"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.3/esri-leaflet-geocoder.css">
                <script type="text/javascript">
                var tableToExcel = (function() {
                        var uri = 'data:application/vnd.ms-excel;base64,'
                , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
, base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
, format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
return function(table, name) {
if (!table.nodeType) table = document.getElementById(table)
var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
window.location.href = uri + base64(format(template, ctx))
}
})()
    </script>
    <style>
        .withdrawal{
            color: #A94442;
        }
        .dashboard-headers{
            text-transform: uppercase;
            color: #A94442;
        }
    </style>
{% endblock %}
{% block list_table %}
    
     <!-- /.row -->
            <div class="row">
                
             <div class="col-md-12-12 col-md-12">   
                <div class="col-lg-6 col-md-6 pull-right">
                    <h3 class="dashboard-headers">Today</h3>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ transactionToday.deposit | number_format}}</div>
                                    <div>Deposits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left withdrawal">Withdrawals</span>
                                <span class="pull-right withdrawal" >{{ transactionToday.withdrawal | number_format}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                
                <div class="col-lg-6 col-md-6 pull-right">
                    <h3 class="dashboard-headers">Fiscal Year</h3>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ transactionWeek.deposit | number_format}}</div>
                                    <div>Deposits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left withdrawal">Withdrawals</span>
                                <span class="pull-right withdrawal" >{{ transactionWeek.withdrawal | number_format}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                
                
                
            </div>
            </div>
            <!-- /.row -->
 <!-- /.row -->
            <div class="row">
                
             <div class="col-md-12-12 col-md-12">   
                <div class="col-lg-3 col-md-6">
                    <h3 class="dashboard-headers">last week</h3>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ transactionWeek.deposit | number_format}}</div>
                                    <div>Deposits</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left withdrawal">Withdrawals</span>
                                <span class="pull-right withdrawal" >{{ transactionWeek.withdrawal | number_format}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="dashboard-headers">last Two weeks</h3>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ transactionTwoWeeks.deposit|number_format }}</div>
                                    <div>Deposit</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left withdrawal">Withdrawals</span>
                                <span class="pull-right withdrawal" >{{ transactionTwoWeeks.withdrawal | number_format}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="dashboard-headers">last Month</h3>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ transactionMonth.deposit | number_format}}</div>
                                    <div>Deposit</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left withdrawal">Withdrawals</span>
                                <span class="pull-right withdrawal" >{{ transactionMonth.withdrawal | number_format}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="dashboard-headers">last Six Months</h3>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ transactionSixMonths.deposit | number_format}}</div>
                                    <div>Deposit</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left withdrawal">Withdrawals</span>
                                <span class="pull-right withdrawal" >{{ transactionSixMonths.withdrawal | number_format}}</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                
                
            </div>
            </div>
            <!-- /.row -->
            
           
    {#   SALES FORECAST REPORT #}

    <div class="col-md-12-12 col-md-12">
        {#        <div class="col-xs-12 col-md-12">#}
        <div class="box box-primary" style="margin-bottom: 20px;">
            <div class="box-body table-responsive no-padding">
                <div style="padding: 10px;">
                    <div id="transactions_graph" style="width: 100%;  margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12">
        <div class="box box-primary" style="margin-bottom: 20px;">
            <div class="box-body table-responsive no-padding">
                <div class="box-header">
                    <h4 class="box-title">
                        Transactions Trend
                    </h4>
                </div>

                <div style="padding: 10px" >
                    <input type="button" class="btn btn-primary" onclick="tableToExcel('transactionTrend', 'W3C Example Table')" value="Export to Excel">
{#                    <a href="{{ path('export_pdf_list') }}"  class="btn btn-success" >Export to Pdf</a>#}
                    <table  id="transactionTrend"
                            class="table table-striped table-bordered table-hover"
                            dropdown-toggle="open"
                            data-cache="true" 
                            data-height="300"
                            data-show-refresh="true" 
                            data-show-toggle="true" 
                            data-show-columns="true"
                            data-select-item-name="toolbar1"
                            data-show-export ="true"
                            {#data-export-types="['pdf']"#}
                            data-show-filter="true"
                            >
                        <thead>
                        <th data-field="transactionDate" class="dataTable">Transaction Date</th>
                        <th data-field="deposit" class="dataTable">Deposit</th>
                        <th data-field="withdrawal" class="dataTable">Withdrawal</th>
                        </thead>                            
                        {% if pagination|length != 0 %}
                            {% for production in pagination %}
                               
                                <td>
                                    {{ production.transactionDate }} 
                                </td>
                                <td>
                                    {{ production.deposit }} 
                                </td>
                                <td>
                                    {{ production.withdrawal }}
                                </td>
                               
                                </tr>

                            {% endfor %}


                        {% else %}
                            <br /><br />
                            <span class="redmsg">
                                No records found
                            </span>      	
                        {% endif %}

                    </table>


                </div>
                <div class="pagingBox" style="padding: 10px" >
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-12 col-md-12 hidden">
        <div class="col-xs-12 col-md-12">
            <div class="box box-primary" style="margin-bottom: 20px;">
                <div class="box-body table-responsive no-padding">
                    <div class="box-header">
                        <h4 class="box-title">
                            Transactions Trend
                        </h4>
                    </div>
                    <div style="padding: 10px; height: 380px;" >
                        <table  id="transactions"
                                class="table table-striped table-bordered table-hover"
                                dropdown-toggle="open"
                                data-cache="true" 
                                data-height="1000"
                                data-show-refresh="true" 
                                data-show-toggle="true" 
                                data-show-columns="true"
                                data-select-item-name="toolbar1"
                                data-show-export ="true"
                                data-export-types="['pdf', 'csv', 'excel']"
                                data-show-filter="true"
                                >
                            <thead> 
                                <tr>
                                    <th data-field="transactionDate" class="chartName">Transaction Date</th>
                                    <th data-field="deposit" class="chartName">Deposit</th>
                                    <th data-field="withdrawal" class="">Withdrawal</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for trans in pagination %}

                                    <tr>
                                        <td>{{ trans.transactionDate }}</td>
                                        <td>{{ trans.deposit }}</td>
                                        <td>{{ trans.withdrawal }}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                            </thead>
                        </table>

                    </div>
                </div>

            </div>

        </div>


    </div>




{% endblock %}

{% block list_filters %}

    <div class="col-xs-12 col-md-12 sonata-filters-box" >
        <div class="box box-primary">
            <div class="box-body">
                {#                    {{postData}}#}
                <form action="" method="POST" class="sonata-filter-form form-horizontal">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-2 control-label"> 
                                    Customer
                                </label>
                                <div class="col-md-3">
                                    {{ form_widget(searchForm.customer,{value:customer} )}}

                                </div>
                                
                                    <label class="col-md-2 control-label"> 
                                        Agents
                                    </label>
                                    <div class="col-md-3" >
                                        {{ form_widget(searchForm.agent,{value:agent})}}
                                    </div> 
                             

                            </div>
                            <div class="form-group">
                                
                                <label class="col-sm-2 control-label"> 
                                    From
                                </label>
                                <div class="col-md-3">
                                    {{ form_widget(searchForm.from,{value:from})}}
                                </div>
                                <label class="col-md-2 control-label"> 
                                    To
                                </label>
                                <div class="col-md-3">
                                    {{ form_widget(searchForm.to,{value:to})}}
                                </div>
                            </div>
                           

                            <div class="form-group">
                                
                                <div class="col-md-3 pull-right">

                                    {{ form_row(searchForm.search) }}

                                </div>
                            </div>

                        </div>



                    </div>


                </form>
            </div>
        </div>
    </div>


{% endblock %}




{% block javascripts %}
    {{ parent() }} 

    <script src="{{asset('bundles/report/js/highcharts.js')}}"></script>
    <script src="{{asset('bundles/report/js/modules/exporting.js')}}"></script>
    <script src="{{asset('bundles/report/js/modules/data.js')}}"></script>

    <script src="{{ asset('bundles/report/js/bootstrap-table.js') }}"></script>
    <script src="{{ asset('bundles/report/extensions/export/bootstrap-table-export.js') }}"></script>
    <script src="{{ asset('bundles/report/tableExport/tableExport.js') }}"></script>
    <script src="{{ asset('bundles/report/tableExport/jquery.base64.js') }}"></script>

    <script  src="{{ asset('bundles/report/tableExport/jspdf/libs/sprintf.js') }}"></script>
    <script  src="{{ asset('bundles/report/tableExport/jspdf/jspdf.js') }}"></script>
    <script  src="{{ asset('bundles/report/tableExport/jspdf/libs/base64.js') }}"></script>



    <script>
                                        $(function () {
                                        $('#transactions_graph').highcharts({
                                        colors: ['#00a65a', '#dd4b39'],
                                                data: {
                                                table: 'transactions'
                                                },
                                                chart: {
                                                type: 'column'
                                                },
                                                xAxis: {
                                                    type: 'datetime',
                                                
                                                },
                                                title: {
                                                text: 'Transactions Trend'
                                                },
                                                yAxis: {
                                                allowDecimals: true,
                                                        title: {
                                                        text: 'Units'
                                                        }

                                                },
                                                plotOptions: {
                                                series: {
                                                pointPadding: 0.2,
                                                        borderWidth: 0,
                                                        minPointLength: 3,
                                                        dataLabels: {
                                                        enabled: true,
                                                                format: '{point.y:1f}',
                                                        },
                                                        enableMouseTracking: true
                                                }
                                                },
                                                tooltip: {
                                                formatter: function () {
                                                return '<b>' + this.series.name + '</b><br/>' +
                                                        this.point.y + ' ' + this.point.name.toLowerCase();
                                                }
                                                }
                                        });
                                        });</script>

    <script type="text/javascript">

                        $(function () {
                        $('#transactionTrend').bootstrapTable({
                        });
                        });
    </script>

{% endblock %}
