<style>
    table {
        border-collapse: collapse;
        width: 100%;
        {#    table-layout:fixed;#}
    }
    @page {
        size: A3 landscape;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover{background-color:#f5f5f5}
    table, td, th {    
        border: 1px solid #ddd;
        text-align: left;
    }
    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

<div style="text-align: center;">
    <img style="width:100px;height:80px;" src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/warehouse/images/logo.png') }}"/>
    <h1>Ghana Grains Council</h1>
    <h2>Transactions Report Data</h2>
    <h3>{{ "now"|date("F jS, Y \\a\\t g:ia") }}</h3>

</div>
<div>
    <table>

        <tr>
            <th>warehouse</th>
            <th>Product</th>
            <th>Inflow</th>
            <th>Outflow</th>
            <th>Real Stock</th>
        </tr>


        {% for production in records %}
            <tr>
                {% set realStock= (production.inflow-production.outflow) %}
                {% if realStock < 0 %}
                    {% set realStock = 0 %}
                {% endif %}
                <td>
                    {{ production.warehouse }} 
                </td>
                <td>
                    {{ production.crop }} 
                </td>
                <td>
                    {{ production.inflow }}
                </td>
                <td>
                    {{ production.outflow }} 
                </td>
                <td>{{ realStock }}</td>
            </tr>

        {% endfor %}


    </table>
        
        
        <div style="float:right;margin-top: 50px; " >
            Powered by <strong></strong> 
            <a href="#">Visit our website</a>
        </div>
</div>


