
{% extends '::layout.html.twig' %}

{% block mymodule %} My Users{% endblock %}
{% block modulelist %} User List{% endblock %}
{% block right_section %}
<div class="span9 farmer-right">
  <!-- Farmer Group -->
    {% block search %}
      {# {{ include('FarmerBundle:Farmer:farmer_search.html.twig') }} #}
    {% endblock %}
    <div class="farmer-detail-2">
        <ul class="breadcrumb">
            <li><a href="{{ path('api_userbundle_new_user') }}">Add User</a> <span class="divider">/</span></li>
        </ul>
    </div>

    <div class="table-listing">
      <div class="framer-table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="table-list-first"><input type="checkbox" name="users" class="chk_select_all"></th>
              <th>{{ knp_pagination_sortable(users, 'Id', 'u.username') }}</th>
              <th {% if users.isSorted('a.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(users, 'Name', 'a.username') }}</th>
              <th colspan="8" class="table-list-last">Action</th>
            </tr>
          </thead>
          <tbody>
            
            {% for user in users %}
              <tr {% if loop.index is odd %}class="odd"{% endif %}>
                <td>
                    <input type="checkbox" name="f" value="{{ user.id }}" >
                </td>
                <td> {{ user.id }}</td>
                <td> {{ user.username }}</td>
                <td><a href="{{ path('api_userbundle_edit_user',{ 'id':user.id })}}"><img src="{{ asset('images/list-icon-1.png') }}" alt=""></a></td>
                <td>
                   <a href="{{ path('api_userbundle_delete_user',{ 'id':user.id })}}" data-method="DELETE" class="rest"><img src="{{ asset('images/list-icon-2.png') }}" alt=""></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="row-fluid farmer-paging">
        </div>
        {{ knp_pagination_render(users, '::pagination_navigation.html.twig') }}
      
      </div>
      <div id="map" style="width: 745px; height: 500px;"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ asset('js/restfulizer.js') }}"></script>
{% endblock %}