{% extends '::base.html.twig' %}
{% block stylesheets %}
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
{% endblock %}
{% block body %}
{% if form %}
{% form_theme form '::fields.html.twig' %}
{% endif %}
  {% block header %}
    <header>
      <div class="container">
        <div class="navbar">
          <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="brand" href="{{ path('frontend_homepage')}}"><img src="{{ asset('images/logo.png') }}" alt=""></a>
                <div class="nav-collapse collapse navigation">
                <ul class="nav">
                  <li class="active"><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Partners</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Networks</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Aggregators</a></li>
                        <li><a href="#">Farmer Based Organizations</a></li>
                        <li><a href="#">Small Holder Farmer</a></li>
                        <li><a href="#">Agro Dealers Dealer</a></li>
                        <li><a href="#">Warehouse Operators</a></li>
                        <li><a href="#">Haulage Companies</a></li>
                        <li><a href="#">Selection Production</a></li>
                        <li><a href="#">Selection Blending</a></li>
                    </ul>
                  </li>
                  {% if app.user %}
              <li><a href="{{ path('fos_user_security_logout')}}">Logout</a></li>
           {% else %}
              <li><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
                    <li><a href="{{ path('user_register')}}">Sign Up</a></li>
           {% endif %}
                  <li><div id="google_translate_element"></div></li>
                </ul>
                  </div>
          </div>
        </div>
      </div>
    </header>
  {% endblock %}
  {% block context %}
  
    <!-- Section -->
    <section>
      <!-- Call Us -->
      <div class="call-us call-us-inner">
        <div class="container">
            <div class="contact-no"><img src="{{ asset('images/contact_icon.png') }}" alt=""> CALL US : (233) 26 4384557 </div>
            {% if app.user == null %}
                <div class="rss-detail"><a href="{{ path('user_register')}}">Sign Up </a><img src="{{ asset('images/rss.png') }}" alt=""></div>
              {% endif %}
        </div>
      </div>
      <div class="inner-section">
        {% block innersection %}
          <div class="container">
            <h2><img src="{{ asset('images/arrow1.png') }}" alt="">{% block mymodule %} User{% endblock %} &rarr; {% block modulelist %} User Registration {% endblock %}</h2>
            <div class="farmer-list">
                <div class="row-fluid">
                  <div class="span3 farmer-left">
                          <div class="row-fluid module-detail">
                            {% block module %}
                              <h3><img src="{{ asset('images/arrow2.png') }}" alt="">Modules</h3>
                                <ul>
                                  <li><a href="{{ path('api_farmerbundle_get_farmers')}}">Farmer / Farm Management1</a></li>
                                    <li><a href="{{ path('api_associationbundle_get_associationgroups')}}">FBO Management</a></li>
                                    <li><a href="{{ path('api_extensionbundle_get_extensionparameters')}}">Extension services monitoring</a></li>
                                    {% if is_granted('ROLE_AGGREGATOR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                      <li><a href="{{ path('api_userbundle_get_user_agents',{'parentId': app.user.id })}}">Agents</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('api_farmerbundle_get_campaigns')}}">Contact</a></li>
                                </ul>
                            {% endblock %}
                          </div>
                      </div>
                         <div class="span9 farmer-right register-inner">
                          <!-- Farmer Group -->
                            <div class="framer-group">
                              <h3><a href="#">Add User</a></h3>
                            </div>                                        
                            <div class="row-fluid register-form">
                              <div class="span8">
                                {%  if (form is not null) %}
                                 <form action="{{ url('post_user_register') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
                                <fieldset>
                                  {{ form_row(form.username) }}
                                          {{ form_row(form.password) }}
                                          {{ form_row(form.email) }}
                                          {{ form_row(form.firstName) }}
                                          {{ form_row(form.middleName) }}
                                          {{ form_row(form.lastName) }}
                                          {{ form_row(form.phoneNo) }}
                                          {{ form_row(form.mobileNo) }}
                                          {{ form_row(form.address) }}
                                          {{ form_row(form.country) }}
                                          {{ form_row(form.region) }}
                                          {{ form_row(form.district) }}
                                          {{ form_row(form.town) }}
                                          {{ form_row(form.logo) }}
                                          {{ form_row(form.technicalKnow) }}
                                          {{ form_row(form.serviceProvided) }}
                                          {{ form_row(form.latitude) }}
                                          {{ form_row(form.longitude) }}
                                          <div id="map" style="width:700px !important; height:500px !important;"></div>
                                          {{ form_row(form.save) }}
                                          {{ form_rest(form) }}
                                </fieldset>             
                              </form>
                            
                            {% endif %}
                        </div>
                      </div>
                    </div>
                      
                </div>
              </div>
          </div>
        {% endblock %}
      </div>

    </section>
  {% endblock %}
  {% block footer %}
    <footer>
      <div class="footer-sec">
          <div class="container">
              <div class="row-fluid">
                  <div class="span6 footer-link">
                      <a href="{{ path('frontend_homepage') }}">Home</a>
                        <a href="#">Services</a>
                        <a href="#">Partners</a>
                        <a href="#">Commodity</a>
                    </div>
                    <div class="span6 copyright">Copyright © 2011 - 2012 <a href="#"></a>. All rights reserved.</div>
                </div>
            </div>
        </div>
    </footer>
  {% endblock %}
  <script src="{{ asset('js/SetMapLatlong.js') }}"></script>
    <script type="text/javascript">
                        load();
      </script>
{% endblock %}