{% extends "SonataAdminBundle::standard_layout.html.twig"%}

{% block stylesheets %}
    {{parent()}}

    <link  type="text/css" href="{{asset('bundles/report/css/paulem.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('bundles/report/imageLarger/jquery.fancybox.css')}}" type="text/css" media="screen" />

{% endblock %}

{% block side_bar_nav %}
    {% if app.security.token and is_granted('ROLE_SONATA_ADMIN') %}
        {{parent()}}

    {% endif %}


{% endblock side_bar_nav %}

{% block side_bar_after_nav %}
    <br/>
    <div style="text-align:center;color:white">

        <p><a href="https://www.sjmcth.com">SJMCTH|MYF</a> <br>Copyright &copy; {{ "now"|date("Y") }}</p>
    </div>
{% endblock side_bar_after_nav %}
{% block sonata_header %}
    <header class="main-header">
        {% block sonata_header_noscript_warning %}
            <noscript>
            <div class="noscript-warning">
                {{ 'noscript_warning'|trans({}, 'SonataAdminBundle') }}
            </div>
            </noscript>
        {% endblock %}
        {% block logo %}
            {% if admin_pool is defined %}
                {% spaceless %}
                    <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                        {% if 'single_image' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                            <img src="{{ asset(admin_pool.titlelogo) }}" alt="{{ admin_pool.title }}">
                        {% endif %}
                        {% if 'single_text' == admin_pool.getOption('title_mode') or 'both' == admin_pool.getOption('title_mode') %}
                            <span>{{ admin_pool.title }}</span>
                        {% endif %}
                    </a>
                {% endspaceless %}
            {% endif %}
        {% endblock %}
        {% block sonata_nav %}
            {% if admin_pool is defined %}
                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-left">
                        {% block sonata_breadcrumb %}
                            <div class="hidden-xs">
                                {% if _breadcrumb is not empty or action is defined %}
                                    <ol class="nav navbar-top-links breadcrumb">
                                        {% if _breadcrumb is empty %}
                                            {% if action is defined %}
                                                {% for menu in admin.breadcrumbs(action) %}
                                                    {% if not loop.last  %}
                                                        <li>
                                                            {% if menu.uri is not empty %}
                                                                <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                            {% else %}
                                                                {{ menu.label }}
                                                            {% endif %}
                                                        </li>
                                                    {% else %}
                                                        <li class="active"><span>{{ menu.label }}</span></li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% else %}
                                                    {{ _breadcrumb|raw }}
                                                {% endif %}
                                    </ol>
                                {% endif %}
                            </div>
                        {% endblock sonata_breadcrumb %}
                    </div>

                    {% block sonata_top_nav_menu %}
                        <div class="navbar-custom-menu">

                            <ul class="nav navbar-nav">

                                <li class="dropdown">
                                   {# <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-flag"></i> <i class="fa fa-caret-down"></i>
                                    </a>#}
                                    <div class="dropdown-menu multi-column dropdown-add" style="width: 50px;">

                                        <div class="container-fluid">
                                            <div class="row">
                                             

                                            </div>
                                        </div>


                                </li>



                                <li class="">
                                    {#<a href="{{path('report_homepage')}}" title="View Front Report">
                                        <i class="fa fa-home"> </i> 

                                      
                                    </a>#}
                                </li>
                                {#<li class="dropdown">
                                    
                                        <div id="google_translate_element">

                                        </div>
                                    </a>#}

                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                                    </a>
                                    {% include admin_pool.getTemplate('add_block') %}
                                </li>
                                <li class="dropdown user-menu">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        {% include admin_pool.getTemplate('user_block') %}
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    {% endblock %}
                </nav>
            {% endif %}
        {% endblock sonata_nav %}
    </header>
{% endblock sonata_header %}

{% block javascripts %}
    {{parent()}}

    <script src="{{asset('bundles/report/imageLarger/jquery.fancybox.pack.js')}}"></script> 
    <script src="{{asset('bundles/report/imageLarger/jquery.fancybox.js')}}"></script>

    <script src="{{asset('bundles/report/js/highcharts.js')}}"></script>

    <script src="{{asset('bundles/report/js/modules/exporting.js')}}"></script>
    <script src="{{asset('bundles/report/js/modules/data.js')}}"></script>
    <script src="{{ asset('bundles/report/js/bootstrap-table.js') }}"></script>
    <script src="{{ asset('bundles/report/extensions/export/bootstrap-table-export.js') }}"></script>
    <script src="{{ asset('bundles/report/tableExport/tableExport.js') }}"></script>
    <script src="{{ asset('bundles/report/tableExport/jquery.base64.js') }}"></script>
    <script  src="{{ asset('bundles/report/tableExport/jspdf/libs/sprintf.js') }}"></script>
    <script  src="{{ asset('bundles/report/tableExport/jspdf/jspdf.js') }}"></script>
    <script  src="{{ asset('bundles/report/tableExport/jspdf/libs/base64.js') }}"></script>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri/latest/esri-leaflet.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}