
    {% for locale in locales %}
        <li role="presentation" >
            <a role="menuitem" tabindex="-1" href="{{ locale.link }}" title="{{ locale.locale_current_language }}">{{ locale.locale_current_language }}</a>
        </li>
    {% endfor %}
