<select id="farmer{{ name }}" name="farmer{{ name }}" class="span12">
<option value="">Select {{ name }}</option>
{% for object in objects %}
	<option value="{{ object.id }}">{{ object.name }}</option>	
{% endfor %}
</select>