
{% extends '::layout.html.twig' %}
{% block context %}
{% block fos_user_content %}
{% endblock fos_user_content %}
  {% if error %}
    <div>{{ error|trans }}</div>
  {% endif %}

<div class="span12 farmer-right register-inner">
  <div class="row-fluid register-form">
    <div class="span8" style="margin-left:350px">
      <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
      <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="control-group">
              <label class="control-label" for="textinput"><label for="username" class="required">UserName</label></label>
              <div class="controls">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
              </div>
              <span class="message"></span>
            </div>
            <div class="control-group">
              <label class="control-label" for="textinput"><label for="password" class="required">Password</label></label>
              <div class="controls">
                <input type="password" id="password" name="_password" required="required" />
              </div>
                <span class="message"></span>
              </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-success-1">Login</button>
              </div>
            </div>      
        </fieldset>
        </form>
    </div>
  </div>
</div>  

{% endblock %} 
  