
{% block fos_user_content %}
    <!DOCTYPE html>
    <html style="margin-bottom: 0px">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>E-Ticket | SIGN IN</title>
            <meta name="theme-color" content="#2d1c4c"/>
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/report/css/demo.css') }}"/>
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/report/css/form-mini.css') }}"/>
            <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
            <link rel="shortcut icon" href="{{ asset('/bundles/report/image/movieFav.png')}}" type="image/x-icon">

            <style>
                html { 
                    background: url({{asset('bundles/report/image/movieCorn.jpg')}}) no-repeat center center fixed;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size:cover;
                    background-size: cover;
                }
                a {
                    cursor: pointer;
                    text-decoration: none;
                }

            </style>
        </head>
        <body>
            <br>
            <br>
            <div class="">
                <!-- You only need this form and the form-mini.css -->

                <div class="form-mini-container" style="margin-top:10%">
                    <div class="">
                        <h1 style="text-decoration: none;color:#fff;font-size: 42px;">
                        </h1>
                    </div>
                    {% block sonata_user_login_error %}
                        {% if error %}
                            <header class="label-danger">
                                <i class="icon icon-thumbs-down">   
                                </i>
                                <h2>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}           
                                </h2>
                            </header>
                        {% else %}
                            <header class="label-default">
                                <i class="icon icon-thumbs-down">  
                                    <h2 class="form-signin-heading">Sign In</h2>
                                </i>
                            </header>
                        {% endif %}
                    {% endblock %}

                    {% block sonata_user_login_form %}
                        <form  class="form-mini"  action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form" class="form-horizontal">
                            <div class="form-row">
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" class="form-control spacing" placeholder="Username" required="required"/>

                                <div class="form-row">
                                    <input type="password" class="form-control" id="password" name="_password" required="required"  class="form-control spacing" placeholder="password"/>
                                </div>
                                <div class="form-row form-last-row ">
                                    <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-lg btn-dark btn-rounded ladda-button" data-style="expand-left">Sign In</button>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <div class="checkbox control-group">
                                            <label for="remember_me">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <br/>
                                <div class="col-sm-6">
                                    {% block sonata_user_registration %}
                                        <a class="btn"  style="text-decoration: none;color:#ec187d" href="{{ path('home') }}">
                                            << Back to Home Page
                                        </a>
                                    {% endblock %}
                                </div>
                            </div>
                        </form>
                    </div>
                {% endblock %}
            </div>
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, 

	Tawk_LoadStart=new Date();
	(function(){
{#			Tawk_API.visitor = {
			name : 'Paulemgh',
			email : 'Killer@gmail.com'
			email : 'Killer@gmail.com'
			};#}	
			
	var s1=document.createElement("script"),
	s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5cbee1e9c1fe2560f3001b6d/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
</script>
        </body>

    </html>
{% endblock fos_user_content %}