<!DOCTYPE html>
<html style="margin-bottom: 0px">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Ecard | Registration Page</title>

        <link 
            rel="stylesheet" media="screen" 
            href="{{ asset('bundles/report/css/demo.css') }}"
            />
        <link 
            rel="stylesheet" media="screen" 
            href="{{ asset('bundles/report/css/paulem.css') }}"
            />
        <link 
            rel="stylesheet" media="screen" 
            href="{{ asset('bundles/report/css/form-mini.css') }}"
            />
        <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
        <link rel="shortcut icon" href="https://sts.ug.edu.gh/services/assets/images/icon.png" type="image/x-icon">
        <style>
            html { 
                background: url({{asset('bundles/report/image/bg.jpg')}}) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            a {
                cursor: pointer
            }
            .hide{display: none}
        </style>
    </head>
    <body>

        <div class="">
            <!-- You only need this form and the form-mini.css -->
            <div class="form-mini-container" style="margin-top:2%">
                <div style="color:white">
                    {% if error is null%}
                        <h3>
                            <header id="response" class="blue">
                                <h2 class="form-signin-heading">Register</h2>
                            </header>
                        </h3>
                    {% endif%}
                </div>
                <form id="confirmTokenForm" class=" hide form-mini"  action method="POST" {{form_enctype(userForm)}} class="sonata-filter-form form-horizontal">
                    <div id="detailForm">
                        <div id="smsMessage" class="form-row text-center">
                            Token Sent to Phone
                        </div>
                        <br>
                        <div class="form-row">
                            <input type="text" minlength="2"  id="userToken" value="" name="userToken" class="form-control spacing" placeholder="Enter Token" autofocus required>            
                        </div>
                        <br>
                        <div class="lds-ellipsis hide" id="confirmLoader">
                            <div></div><div></div><div></div><div></div>
                        </div>
                        <div class="form-row form-last-row ">
                            <button type="submit" id="completeButton">Confirm Token</button>
                        </div> 
                    </div>
                    <br/>
                    <div class="registration">
                        Already Registered? 
                        <a style="text-decoration: none;
                           color: #41cac0;" href="{{ path('sonata_admin_dashboard')}}"> 
                            LOGIN
                        </a>
                    </div>
                </form>
                <form id="signUpForm" class="form-mini"  action method="POST" {{form_enctype(userForm)}} class="sonata-filter-form form-horizontal">
                    <div id="detailForm">
                        <div class="form-row text-center">
                            Enter your details below
                        </div>
                        <br>
                        <div class="form-row">
                            <input type="text" minlength="2"  id="fullname" value="{{fullname}}" name="fullname" class="form-control spacing" placeholder="Full Name" autofocus required>            
                        </div>
                        <div class="form-row">
                            <input type="email"  id="email" value="{{email}}" name="email" placeholder="Your Email">
                        </div>
                        <div class="form-row">
                            <input type="tel" minlength="12"  maxlength="12" id="mobileNo" value="{{mobileNo}}" name="mobileNo" class="form-control spacing" placeholder="Contact eg: 233541363259" autofocus required>      
                        </div>
                        <br>
                        <div class="form-row text-center">
                            Enter your Login details below
                        </div>

                        <div class="form-row">
                            <input type="text"  minlength="2" id="username" value="{{username}}" name="username" class="form-control spacing" placeholder="User Name" autofocus required>         
                        </div>
                        <div class="form-row">
                            <input type="password"  minlength="6" id="password"  name="password" class="form-control spacing" placeholder="Password" required>
                        </div>
                        <div class="form-row">
                            <input type="password" id="passwordConfirm"  name="passwordConfirm" class="form-control spacing" placeholder="Re-type Password" required>       
                        </div>
                        <br>
                        <div class="lds-ellipsis hide" id="loader">
                            <div></div><div></div><div></div><div></div>
                        </div>
                        <div class="form-row form-last-row ">
                            <button type="submit" id="checkButton">Register</button>
                        </div> 
                    </div>
                    <br/>
                    <div class="registration">
                        Already Registered? 
                        <a style="text-decoration: none;
                           color: #41cac0;" href="{{ path('sonata_admin_dashboard')}}"> 
                            LOGIN
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
    <script src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
    <script>
        jQuery.validator.setDefaults({
            debug: false,
            success: "valid"
        });

        //validate
        $.validator.setDefaults({
            submitHandler: function () {
                registerUser();
            }
        });
        $('#completeButton').click(function (e) {
            confirmUser();
            e.preventDefault();
        })
        //show next step
        $("#signUpForm").validate({
            rules: {
                username: {
                    required: true,
                    normalizer: function (value) {
                        return $.trim(value);
                    }
                },
                email: {
                    normalizer: function (value) {
                        return $.trim(value);
                    }
                },
                fullname: {
                    required: true,
                    normalizer: function (value) {
                        return $.trim(value);
                    }
                },
                mobileNo: {
                    required: true,
                    digits: true
                },
                password: "required",
                passwordConfirm: {
                    equalTo: "#password"
                }
            }
        });


    </script>

    <script language = "javascript">
        function registerUser() {
            $("#loader").removeClass('hide');
            var formData = $("#signUpForm").serialize();
            $.ajax({
                url: "{{path('Sky_user_admin_register')}}",
                type: 'POST',
                dataType: 'json',
                async: true,
                data: formData
            })
                    .done(function (response) {
                        if (response.error) {
                            //error handling
                            $("#response").removeClass().addClass('monza').text(response.message);
                        } else if (!response.error) {
                            //success
                            $('#signUpForm').hide();
                            $("#response").addClass('herb').text('Confirm Token');
                            $("#smsMessage").text(response.message);
                            $('#confirmTokenForm').removeClass('hide');
                        }
                        $("#loader").addClass('hide');

                    })
                    .fail(function (response) {
                        $("#response").removeClass().addClass('monza').text(response.statusText)
                        $("#loader").addClass('hide');
                    })
        }

        function confirmUser() {
            $("#confirmLoader").removeClass('hide');
            var formData = $("#signUpForm,#confirmTokenForm").serialize();
            $.ajax({
                url: "{{path('Sky_user_admin_register')}}",
                type: 'POST',
                dataType: 'json',
                async: true,
                data: formData
            })
                    .done(function (response) {
                        if (response.error) {
                            //error handling
                            $("#response").removeClass().addClass('monza').text(response.message);
                        } else if (!response.error) {
                            //success
                            $("#response").removeClass().addClass('freshOnion').text(response.message);
                            $("#detailForm").addClass('hide');
                            console.log(response);
                        }
                        $("#confirmLoader").addClass('hide');
                    })
                    .fail(function (response) {
                        $("#response").removeClass().addClass('monza').text(response.statusText)
                        $("#loader").addClass('hide');
                        $("#confirmLoader").addClass('hide');
                    })
        }


        $('#completeButton').attr('disabled', true);
        $('#userToken').keyup(function () {
            if ($(this).val().length != 0)
                $('#completeButton').attr('disabled', false);
            else
                $('#completeButton').attr('disabled', true);
        })

    </script> 
</html>
