
<div class="row">
    <div class="col-lg-12 portlets">
        <div id="data_filter_control" class="panel">
            <div  class="panel-header panel-controls">
                <h3><i class="fa fa-table"></i> <strong>User Details </strong> Section </h3>
            </div>
            <div class="panel-content">
                <h3><strong>Reset </strong> Password</h3>
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div>
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                                    <input type="text" id="username" name="username" required="required" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
