<!DOCTYPE html>
<html style="">
    {% block head %}
        <head>
            <meta charset="UTF-8" />
            {% block stylesheets %}
                <!-- Bootstrap core CSS base head -->
                <link type="text/css" href="{{asset('bundles/report/css/bootstrap.min.css')}}" rel="stylesheet">
                <link type="text/css" href="{{asset('bundles/report/css/bootstrap-reset.css')}}" rel="stylesheet">
                <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.7.0/bootstrap-table.min.css">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <!--external css-->
                <link type="text/css" href="{{asset('bundles/report/assets/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
                <!-- Custom styles for this template -->
                <link  type="text/css" href="{{asset('bundles/report/css/style.css')}}" rel="stylesheet">
                <link  type="text/css" href="{{asset('bundles/report/css/paulem.css')}}" rel="stylesheet">
                <link rel="stylesheet" type="text/css" href="{{asset('bundles/report/fonts/fonts.css')}}">

                {% stylesheets
                        filter="cssrewrite" 
                %}
                <link  rel="stylesheet" href="{{asset_url}}"  />
                {% endstylesheets %}    
            {% endblock %}
            <link rel="shortcut icon" href="{{ asset('/bundles/report/image/movieFav.png')}}" type="image/x-icon">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
            <!--[if lt IE 9]>
              <script src="{{asset('bundles/report/js/html5shiv.js')}}"></script>
              <script src="{{asset('bundles/report/js/respond.min.js')}}"></script>
            
            <![endif]-->

            <style>
                .control-group{
                    display: inline-block;
                    text-align :left;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                    padding :10px;
                    margin :2px
                }

                select{
                    border: 0px;
                }

            </style>
        </head>
    {% endblock %}
    <body style="">
        {% block body %}
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <a class="navbar-brand" href="{{path('home')}}">
                    <img id="ticket" src="{{asset('bundles/report/image/movieFav.png')}}" style="width:30px">
                </a>
                <div class="collapse navbar-collapse">
                    {% if searchForm is defined  %}
                        <form action="" method="POST" class="navbar-form navbar-left pull-right" role="search">
                            <div class="control-group">
                                {{ form_widget(searchForm.category,{value:category} )}}
                            </div>
                            <div class="control-group">
                                {{ form_widget(searchForm.movie,{value:movie} )}}
                            </div>
                            <button type="submit" class="btn btn-success">Search</button>
                            <ul class="nav navbar-nav pull-right">
                                <li>
                                    <a href="https://www.facebook.com/"><i class="fa  fa-2x fa-facebook-square" style="color: #3b5998"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/?lang=en"><i class="fa  fa-2x fa-twitter" style="color: #38A1F3"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/patapaa_amisty/?utm_source=ig_embed"><i class="fa  fa-2x fa-instagram" style="color:#231F20"></i>
                                    </a>
                                </li>
                            </ul>
                        </form>
                    {% else %}
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="https://www.facebook.com/"><i class="fa  fa-2x fa-facebook-square" style="color: #3b5998"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/?lang=en"><i class="fa  fa-2x fa-twitter" style="color: #38A1F3"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/patapaa_amisty/?utm_source=ig_embed"><i class="fa  fa-2x fa-instagram" style="color:#231F20"></i>
                                </a>
                            </li>
                        </ul>
                    {% endif%}

                    <ul class="nav navbar-nav pull-left">
                        {#                        <li><a href="{{path('payment')}}">PAYMENT</a></li>#}
                        <li><a href="{{path('about')}}">ABOUT</a></li>
                        <li><a href="#">TEAM</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </nav>
            <!--sidebar start-->
            <aside>

            </aside>
            <!--sidebar end-->


            <!-- page start|| this is here for the flash messages-->


        {% endblock %}

        {% block javascripts %}


            <script src="{{asset('bundles/report/js/jquery.js')}}"></script>
            {#            <script src="{{asset('bundles/report/js/highcharts.js')}}"></script>
                        <script src="{{asset('bundles/report/js/modules/data.js')}}"></script>
                        <script src="{{asset('bundles/report/js/loader.js')}}"></script>#}
            <script src="{{asset('bundles/report/js/jquery.fancybox.js')}}"></script>


        {% endblock %}
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {},
                    Tawk_LoadStart = new Date();
            (function () {

                var s1 = document.createElement("script"),
                        s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5cbee1e9c1fe2560f3001b6d/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>


    </body>

</html>
