{% extends "SonataAdminBundle::standard_layout.html.twig"%}
{% block stylesheets %}

    {{ parent() }}
    <link  type="text/css" href="{{asset('bundles/report/css/paulem.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('/bundles/report/image/movieFav.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{asset('bundles/user/imagelarger/jquery.fancybox.css')}}" type="text/css" media="screen" />

{% endblock %}

{% block side_bar_after_nav %}

    <p class="text-center small" style="border-top: 1px solid #D3D3D3; padding-top: 10px">
        <a href="#" rel="noreferrer" target="_blank">© {{ "now"|date("Y") }} MaesTec Services </a></p>
    {% endblock %}

{% block footer %}                
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('bundles/user/imagelarger/jquery.fancybox.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tooltipster.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });

    </script>

    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
                Tawk_LoadStart = new Date();
        (function () {

        {#			Tawk_API.visitor = {
                                name : 'Paulemgh',
                                email : 'Killer@gmail.com'
                                };#}	

            var s1 = document.createElement("script"),
                    s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5cbee1e9c1fe2560f3001b6d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
{% endblock javascripts %}

