{% extends '::base.html.twig' %}

{% block body %}
    {% block header %}
        <header>
            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="{{ path('frontend_homepage')}}"><img src="{{ asset('images/logo.png') }}" alt=""></a>
                        <div class="nav-collapse collapse navigation">
                            <ul class="nav">
                                <li class="active"><a href="#">About</a></li>
                                    {% if app.user %}
                                    <li><a href="{{ path('fos_user_security_logout')}}">Logout</a></li>
                                    {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
                                    <li><a href="{{ path('user_register')}}">Sign Up</a></li>
                                    {% endif %}
                                <li><div id="google_translate_element"></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block context %}
        <!-- Section -->
        <section>
            <!-- Call Us -->
            <div class="call-us call-us-inner">
                <div class="container">
                    <div class="contact-no"><img src="{{ asset('images/contact_icon.png') }}" alt=""> CALL US : (233) 26 4384557 </div>
                        {% if app.user == null %}
                        <div class="rss-detail"><a href="{{ path('user_register')}}">Sign Up </a><img src="{{ asset('images/rss.png') }}" alt=""></div>
                        {% endif %}
                </div>
            </div>
            {% if app.user %}
                <div class="inner-section">
                    {% block innersection %}
                        <div class="container">
                            <h2><img src="{{ asset('images/arrow1.png') }}" alt="">{% block mymodule %} {% endblock %} &rarr; {% block modulelist %} {% endblock %}</h2>
                            <div class="farmer-list">
                                <div class="row-fluid">
                                    <div class="span3 farmer-left">
                                        <div class="farmer-detail-1">
                                            {% block detail %}
                                                <div class="row-fluid">
                                                    <div class="span5 user-image">
                                                        {% if(app.user.logo) %}
                                                            <img src="{{ asset('uploads/users/'~app.user.logo) }}" alt="">
                                                        {% else %}
                                                            <img src="{{ asset('images/black-icon-2.jpg') }}" alt="">
                                                        {% endif %}
                                                    </div>

                                                    <div class="span7 user-info">
                                                        <h5> Hi<br> {% block user_name %} {{ app.user.firstName?app.user.firstName:app.user.username }} {% endblock %} </h5>
                                                    </div>
                                                </div>
                                                <ul class="user-detail-2">
                                                    <li><a href="{{ path('api_userbundle_edit_user',{'id': app.user.id })}}"><img src="{{ asset('images/user-icon-2.png') }}" alt="">Settings</a></li>
                                                    <li><a href="#"><img src="{{ asset('images/user-icon-3.png') }}" alt=""><b>{{ app.user.userCredit?app.user.userCredit : 0 }}</b></a></li>
                                                    <li><a href="#"><img src="{{ asset('images/user-icon-4.png') }}" alt="">Buy Credits</a></li>
                                                </ul>
                                            {% endblock %}
                                        </div>
                                        <div class="row-fluid module-detail">
                                            {% block module %}
                                                <h3><img src="{{ asset('images/arrow2.png') }}" alt="">Modules</h3>
                                                <ul>
                                                    <li><a href="{{ path('api_farmerbundle_get_farmers')}}">Farmer Management</a></li>
                                                        {% if is_granted('ROLE_AGGREGATOR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                                        <li><a href="{{ path('api_associationbundle_get_associations')}}">FBO Management</a></li>
                                                        <li><a href="{{ path('api_extensionbundle_get_extensionparameters')}}">Extension services monitoring</a></li>
                                                        <li><a href="{{ path('settingbundle_calculateestiamtion')}}">Production Crop Estimation</a></li>
                                                        {% endif %}
                                                        {% if is_granted('ROLE_AGGREGATOR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                                                        <li><a href="{{ path('api_userbundle_get_user_agents',{'parentId': app.user.id })}}">Agents</a></li>
                                                        {% endif %}
                                                    <li><a href="{{ path('api_contactbundle_get_contacts')}}">Contact</a></li>
                                                </ul>
                                            {% endblock %}
                                        </div>
                                    </div>

                                    {% block right_section %}
                                        {% block search %}
                                            {{ include('FarmerBundle:Farmer:farmer_search.html.twig') }}
                                        {% endblock %}
                                    {% endblock %}

                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endif %}
        </section>
        {{ tinymce_init() }}
    </script>
{% endblock %}
{% block footer %}

{% endblock %}
<script type="text/javascript">
    window.onload = function () {
        $("#hiddenDownloader").on('click', function (e) {
            window.location.href = $(this).attr('data-download');
            return false;
        });
    }
</script>
{% endblock %}
