{% block user_block %}
    {% if app.user %}
        {% set _bg_class          = "bg-green" %}
        {% set _logout_uri        = url('sonata_user_admin_security_logout') %}
        {% set _logout_text       = 'user_block_logout'|trans({}, 'SonataUserBundle') %}
        {% set _profile_uri       = sonata_user.userAdmin.isGranted('EDIT', app.user) ? sonata_user.userAdmin.generateUrl('edit', {id: sonata_user.userAdmin.id(app.user)}) : sonata_user.userAdmin.generateUrl('show', {id: sonata_user.userAdmin.id(app.user)}) %}
        {% set _profile_text      = 'user_block_profile'|trans({}, 'SonataUserBundle') %}
        {#        /mf_app/web/bundles/sonatauser/default_avatar.png#}
        {% if app.user.pix is defined %}
            {% set _user_image        = app.user.pix %}
        {% else %}
            {% set _user_image        = '' %}
        {% endif %}
        {# Customize this with your profile picture implementation, see below for example #}
        {#{% set _user_image  = app.user.profilePicture|default(asset(sonata_user.defaultAvatar)) %}#}

        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
            {% set _bg_class    = "bg-light-green" %}
            {% set _logout_uri  = url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) %}
            {% set _logout_text = '(exit)' %}
        {% endif %}

        <li class="user-header {{ _bg_class }}">
            {% if _user_image %}

                <img src="{{asset('/uploads/user/')}}{{_user_image}}" width="50%" class="img-circle" alt="Avatar" />
            {%else%}

                <img src="{{asset('bundles/report/image/movieFav.png')}}" width="50%" class="img-circle" alt="Avatar" />

            {% endif %}
            {#            src="{{ asset('uploads/actor/') }}{{photo}}"#}s        </li>

        {#
            Uncomment to add some information
                <li class="user-body">
        
                </li>
        #}

        <li class="user-footer">
            <div class="pull-left">
                <a href="{{ _profile_uri }}" class="btn btn-default btn-flat"><i class="fa fa-user"></i> {{ _profile_text }}</a>
            </div>

            <div class="pull-right">
                <a href="{{ _logout_uri }}" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i> {{ _logout_text }}</a>
            </div>
        </li>
    {% endif %}
{% endblock %}
