<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome | </title>
        <link rel="shortcut icon" href="{{ asset('/bundles/report/image/Movie.png')}}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="" name="description" />
        <meta content="themes-lab" name="author" />
        <link rel="shortcut icon" href="{{ asset('/bundles/frontend/assets/images/favicon.png')}}">
        <link href="{{ asset('bundles/frontend/assets/css/style.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/frontend/assets/css/ui.css')}}" rel="stylesheet">
        <link href="{{ asset('bundles/frontend/assets/plugins/bootstrap-loading/lada.min.css')}}" rel="stylesheet">
    </head>
    <body class="account2" data-page="login">
        <!-- BEGIN LOGIN BOX -->
        <div class="container" id="login-block">
            <i class="user-img icons-faces-users-03"></i>
            <div class="account-info">
                <a href="" class="logo"></a> 
                <h3></h3>
                <ul>
                    <li><i class="icon-magic-wand"></i> Cloud Funding</li>
                    <li><i class="icon-layers"></i> Rally aroud to help the needy</li>
                    <li><i class="icon-arrow-right"></i> Most Efficient FundRaiser</li>
                </ul>
            </div>
            <div class="account-form">

                <form class="form-signin" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <h3><strong>Sign in</strong> to your account</h3>
                    <div class="append-icon">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control form-white username" placeholder="Username" required>
                        <i class="icon-user"></i>
                    </div>
                    <div class="append-icon m-b-20">
                        <input type="password" id="password" name="_password" class="form-control form-white password" placeholder="Password" required>
                        <i class="icon-lock"></i>
                    </div>
                    <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-lg btn-success btn-rounded ladda-button" data-style="expand-left">Sign In</button>
                    <span class="forgot-password"><a id="password" href="{{ path("fos_user_resetting_request") }}">Forgot password?</a></span>
                    <div class="form-footer">
                        <div class="social-btn">
                            <a href="" class="btn-fb btn btn-lg btn-block btn-rounded"><i class="fa fa-user pull-left"></i>New Users? Sign Up</a>
                        </div>

                    </div>
                </form>

            </div>

        </div>
        <!-- END LOCKSCREEN BOX -->
        <p class="account-copyright">
            <span>Copyright © {{ "now"|date("Y") }} </span><span>UG Ecard </span>.<span>All rights reserved.</span>
        </p>
        <script src="{{asset('bundles/frontend/assets/plugins/jquery/jquery-1.11.1.min.js')}}"></script>
        <script src="{{asset('bundles/frontend/assets/plugins/jquery/jquery-migrate-1.2.1.min.js')}}"></script>
        <script src="{{asset('bundles/frontend/assets/plugins/gsap/main-gsap.min.js')}}"></script>
        <script src="{{asset('bundles/frontend/assets/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('bundles/frontend/assets/plugins/backstretch/backstretch.min.js')}}"></script>
        <script src="{{asset('bundles/frontend/assets/plugins/bootstrap-loading/lada.min.js')}}"></script>
        <script src="{{asset('bundles/frontend/assets/js/pages/login-v2.js')}}"></script>
    </body>
</html>






