{# empty Twig template #}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">
        {% if object.actor.pix is defined and object.actor.pix !=null %}
            {% set photos=object.actor.pix|split(",") %} 
        {% elseif object.pix is defined   and object.pix !=null %}
            {% set photos=object.pix|split(",") %} 
        {% endif %}
        {% if photos is defined and photos != null %}   
            {% for photo in photos %}          
                <a class="fancybox"  href="{{asset('uploads/actor/')}}{{photo}}"> 
                    <img src="{{ asset('uploads/actor/') }}{{photo}}" style="
                         height: 40px; width: 40px;" 
                         ></a>
                {% endfor %}
            {% else %}
            <a class="fancybox" href="{{asset('bundles/report/image/sky.png')}}"> 
                {#                <img src="{{asset('uploads/default/default_avatar.png')}}" style="height: 40px; width: 40px;">#}

                <img src="{{asset('bundles/report/image/sky.png')}}" style="height: 40px; width: 40px;">



            </a>
        {% endif %}
    </div>
{% endblock %}