{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">
        {% if object.photos != null %}

            {% set photos=object.photos|split(",") %} 
            {% for photo in photos %}          
                <a class="fancybox" href="{{asset('uploads/regProdCond/')}}{{photo}}"> 
                    <img src="{{ asset('uploads/regProdCond/') }}{{photo}}" style="height: 30px; width: 30px;"></a>
               {% endfor %}
            {% else %}
                <span>No picture</span>
            {% endif %}
    </div>
{% endblock %}
