{% extends "::church_admin_layout.html.twig"%}
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span class="divider"></span></li>
    <li class="active">Import Members </li>  
    {% endblock %}
    {% if importForm %}
        {% form_theme importForm 'SonataAdminBundle::admin_fields.html.twig' %}
    {% endif %}
    {% block list_table %}
        {{ parent()}}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary" style="margin-bottom: 20px;">
            <div class="box-header">
                <h4 class="box-title">
                    <a href="{{asset('sky.csv') }}">
                        <i class="fa fa-download"></i> Download Sample File</a>
                </h4>
            </div>
            <div class="alert alert-info">
                {% trans %}File Columns should remain same:
                    Just add the data below the various columns 
                {% endtrans %}

            </div>
            <div class="box-body">
                <h4 class="box-title">File (CSV)</h4>
                <div class="">
                    <div class="row">

                        {{ form_start(importForm) }}
                        {#                        {{ form_row(importForm._token) }}#}
                        {{ form_errors(importForm) }}
                        <div class="col-md-6">


                            {{ form_row(importForm.upload)}}
                            {#{{ form_row(importForm.actorGroup)}}
                            {{ form_row(importForm.country)}}
                            {{ form_row(importForm.region)}}#}
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 pull-right">
                            <div class="form-actions">
                                {{ form_row(importForm.search) }}
                            </div>
                        </div>       
                    </div>       

                    {#</div>#}
                </div>
            </div>



        </div>
    </div>
</div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var selectedValue = [];
        $(document).ready(function () {

            var uniqId = $('#mfarm_settingsbundle_prices_shopOrMarket').val();

            $("#shop").show();
            $("#market").hide();
            funcDalegate();
        });

        function funcDalegate()

        {
            $(document).delegate("#mfarm_settingsbundle_prices_shopOrMarket", 'change', function () {

                if ($(this).val() == '') {

                    $("#shop").hide();
                    $("#market").hide();
                } else if ($(this).val() == 'Shop') {
                    $("#shop").show();
                    $("#market").hide();
                } else if ($(this).val() == 'Market') {

                    $("#shop").hide();

                    $("#market").show();
                }
            }
            );
        }

    </script>           
{% endblock %}
