{# empty Twig template #}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">

        {% if object.pix is defined and object.pix != null %}   
            <a class="fancybox" href="{{asset('uploads/user/')}}{{object.pix}}"> 
                <img src="{{ asset('uploads/user/') }}{{object.pix}}" style="height: 40px; width: 40px;"></a>
        {% else %}
            <a class="fancybox" href="{{asset('bundles/report/image/movieFav.png')}}"> 
                <img src="{{asset('bundles/report/image/movieFav.png')}}" style="height: 40px; width: 40px;">
            </a>
        {% endif %}
    </div>
{% endblock %}