<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
    <tr>
        <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
                <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="61"><a href= "http://.org" target="_blank"><img src="{{ asset('bundles/user/images/logo.png')}}" width="150" height="66" border="0" alt=""/></a></td>
                                        {#                                <td width="144"><a href= "http://.org" target="_blank"></a></td>#}
                                <td width="393"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="46" align="right" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>

                                                    </tr>
                                                </table></td>
                                        </tr>
                                        <tr>
                                            <td height="30"><img src="{{ asset('bundles/user/images/PROMO-GREEN2_01_04.jpg')}}" width="100%" height="30" border="0" alt=""/></td>
                                        </tr>
                                    </table></td>
                            </tr>
                        </table></td>
                </tr>
                <tr>
                    <td align="center">
                        <a href= "http://.org" target="_blank"><img src="{{ asset('bundles/user/images/PROMO-GREEN2_02.png')}}" alt="" width="598" height="318" border="0"/></a>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="2%">&nbsp;</td>
                                <td width="96%" align="center" style="border-bottom:1px solid #000000" height="70">
                                    <font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:46px; text-transform:uppercase">
                                    <strong>{{ heading|raw }}</strong></font></td>
                                <td width="2%">&nbsp;</td>
                            </tr>
                        </table></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="5%">&nbsp;</td>
                                <td width="90%" align="center" valign="middle">
                                    <font style="font-family: Verdana, Geneva, sans-serif; color:#68696a; font-size:12px; line-height:20px; text-transform:uppercase">
                                    {{ content |raw }}
                                    </font><br />
                                </td>
                                <td width="5%">&nbsp;</td>
                            </tr>
                        </table></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                {% if services !=null or services !=""%}
                    <tr>
                        <td>
                            <table width="600" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    {% for service in services %}
                                        <td width="18">&nbsp;</td>
                                        <td width="175" align="center" valign="top">
                                            <table width="175" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td><img src="{{ asset('bundles/user/images/PROMO-GREEN2_04_01.jpg')}}" width="175" height="14" style="display:block" border="0" alt=""/></td>
                                                </tr>
                                                <tr>
                                                    <td height="30" align="center" valign="middle" bgcolor="#7bb542"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#ffffff; font-size:20px; text-transform:uppercase">
                                                        <strong>{{ service.title | raw }}</strong>
                                                        </font></td>
                                                </tr>
                                                <tr>
                                                    <td bgcolor="#7bb542"><img src="{{ asset('bundles/user/images/PROMO-GREEN2_00.jpg')}}" alt="" width="175" height="18" /></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="middle" bgcolor="#7bb542"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#ffffff; font-size:14px"><strong><a href="http://.org" target="_blank" style="color:#ffffff; text-decoration:none">
                                                                {{ service.summary | raw }}
                                                            </a></strong></font></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="middle" bgcolor="#7bb542">&nbsp;</td>
                                                </tr>
                                            </table>

                                        </td>
                                    {% endfor  %}
                                </tr>

                            </table>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><img src="{{ asset('bundles/user/images/PROMO-GREEN2_07.jpg')}}" width="100%" height="7" style="display:block" border="0" alt=""/></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:11px"><strong>
                            {{ email|raw }} 
                            <br/>
                            {{ mobileNo |raw }}
                        </strong>
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table></td>
    </tr>
</table>
{% block javascripts %}
    <script type="text/javascript">
        load();
    </script>
{% endblock %}