
{% extends '::layout.html.twig' %}
{% block mymodule %} My Agents{% endblock %}
{% block modulelist %} Map To Report{% endblock %}
{% block right_section %}
{% if form %}
{% form_theme form '::fields.html.twig' %}
{% endif %}
<script src="{{ asset('js/SetMapLatlong.js') }}"></script>
 <div class="span9 farmer-right register-inner">
  <!-- Farmer Group -->
    <div class="farmer-detail-2">
        <ul class="breadcrumb">
            <li><a href="{{ path('api_userbundle_get_user_agents',{'parentId':parentId}) }}">Agent List</a> <span class="divider">/</span></li>
        </ul>
    </div>
                
    <div class="row-fluid register-form">
        {%  if (form is not null) %}
          <form action="{{ url('api_userbundle_post_user_maptoreport') }}" method="POST" {{ form_enctype(form) }} class="form-horizontal">
            <fieldset>
              {{ form_row(form.country) }}
              {{ form_row(form.region) }}
              {{ form_row(form.district) }}
              {{ form_row(form.userType) }}
              {{ form_row(form.search) }}
              {{ form_rest(form) }}
            </fieldset>             
          </form>
        {% endif %}
  </div>
</div>
{% endblock %}
  