<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mosaddek">
        <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
        <link rel="shortcut icon" href="img/favicon.png">

        <title>Street Reporter | Error Page</title>

        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/report/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/report/css/bootstrap-reset.css')}}" rel="stylesheet">
        <!--external css-->
        <link href="{{asset('bundles/report/css/font-awesome.css')}}" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/report/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/report/css/style-responsive.css')}}" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="" style="background-color: #eae9e8;text-align: center">

        <div class="container">

            <section>
                <img  
                    src="{{asset('bundles/report/image/404.gif')}}">
                <h1 style="color: #f2973c">SORRY!</h1>
                <h2>The resource you are looking for is unavailable or not found.</h2>
                <p style="">
                <h3>
                    CONTACT <a href="mailto:paulemgh@gmail.com" style="color:#f2973c;font-weight: bold;">paulemgh@gmail.com</a> /Call +233541363259 for technical support
                    You can return to <a sty href="{{ path('sonata_admin_dashboard') }}" style="color:#f2973c;font-weight: bold;">Home</a>
                </h3>
                </p>
            </section>

        </div>


    </body>
</html>

