{% block default_stylesheets %}
    
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div id="chart{{id}}" style="width: 95%;height: 94%;"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        {{ chart(chart) }}
    </script>

{% endblock %}
