{# empty Twig template #}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">
     
      <a href="{{ path('dashboard_generator_list', {'dashId':object.id}) }}" class="btn btn-instagram">show </a>
            
{#      , {'filter[surveyVoice][value]':object.id}#}
    </div>
{% endblock %}