{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends '::SonataAdmin/base_list.html.twig' %}#}


{% block stylesheets %}

{#    {{ parent() }}#}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.3/esri-leaflet-geocoder.css">

{% endblock %}  

{% block body %}
    {#    {{parent()}}#}
    {% set myObj = '' %}
    {% set myEle = {} %}
    {% set groups = {} %}
        {#{{dump(admin.datagrid)}}#}


    {% for object in objects %}
        {% if object.latitude !=null %}

            {#            {% set groups = groups+object.actorGroup|length  %}#}
            {#{% for name in object.actorGroup %}
                {% if name not in groups %}

                    {% set groups = groups|merge([name]) %}
                {% endif %}


            {% endfor %}#}


            {% if object.latitude is defined  %}
                {% set myEle = myEle|merge({(loop.index):{
    "type": "Feature",
    "properties": {
        "name": 'object.firstName',
        "amenity": "Baseball Stadium",
        "popupContent": "

<b><p style=font-size:160%;>Onset of Rains</p></b>
<b>Status</b>: Started<br/>
<b>Date</b>: 1st April, 2016<br/>
<b>Rains</b>: 100mm
"
    },
    "geometry": {
        "type": "Point",
        "coordinates": [object.longitude, object.latitude]
    }
}}) %}
            {% endif %}
        {% endif %}
    {% endfor %}



    {% set myEle = myEle %}

    


    {% if myEle !=null %}
                    <div id="map" style="height: 400px"></div>

               
    {% endif %}
    {% block javascript %}
{#        {{parent()}}#}
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src="//cdn.jsdelivr.net/leaflet.esri/latest/esri-leaflet.js"></script>
        <script>

            $(function () {
                $('button[name=btn_create]').on('submit', function (event) {
                    event.preventDefault();
                    alert("Form Submission stoped.");
                });
            });


            var map = L.map('map').setView([3.56072, 3.20385], 3);
            map.scrollWheelZoom.disable();
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWN1dGV4IiwiYSI6ImNpazVldnVzcTAwMmx4YW0xOHdmZHR3NXgifQ.b96bXAxZorYrrmv3hVjuZA', {
                maxZoom: 18,
                attribution: ' Data &copy; <a href="http://.org"></a> ',
                id: 'mapbox.streets'
            }).addTo(map);{#L.marker([5.56072, -0.20385]).addTo(map)
                    .bindPopup("<b>Hello world!</b><br />I am a popup.{{''}}").openPopup();#}
            {#L.circle([51.508, -0.11], 500, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5
}).addTo(map).bindPopup("I am a circle.");

L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
]).addTo(map).bindPopup("I am a polygon.");#}

    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup(feature.properties.popupContent);
        }
    }

    var geojsonFeature = {{ myEle|json_encode|raw }};
            L.geoJson(geojsonFeature, {
                onEachFeature: onEachFeature
            }).addTo(map);
    var popup = L.popup();
    function onMapClick(e) {
        popup
                .setLatLng(e.latlng)
                .setContent("The location clicked has " + e.latlng.toString())
                .openOn(map);
    }

    map.on('click', onMapClick);


        </script>

            

        {% endblock %}

    {% endblock %}

