{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '::SonataAdmin/base_list.html.twig' %}


{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('css/jquery-ui.css') }}" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.3/esri-leaflet-geocoder.css">
    {#    <link rel="stylesheet" media="screen" href="{{ asset('css/jquery-ui.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('bundles/report/css/bootstrap-table.css') }}"/>

{% endblock %}  

{% block list_table %}
    {#{{parent()}}#}
    {% set objects = admin.datagrid.values %}
    {% set filters={} %}
    {% for key, object in objects %}
        {% if object.value is defined %}
            {% if  key|first != '_' %}
                {% set filters = filters|merge({(key):(object.value)}) %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {#{{dump(filters) }}#}

    {% set dashID = app.request.get('dashId') %}
    {% set columns = dashboard_service.getColumns(dashID) %}
    {% for column in columns %}

        <div class="col-xs-{{column.size}} col-md-{{column.size}}" >
            <div class="box box-primary">
                <div  id="report" class="box-body table-responsive no-padding">
{#                    {{ render(controller('ReportBundle:Report:getReport',{'column':column,'dashboard':column.sqlData.id,'filters':filters})) }}#}
                </div>
            </div>
        </div>
    {% endfor %}



    {% block javascript %}
        {{parent()}}
        <script src="{{asset('bundles/report/js/highcharts.js')}}"></script>
        <script src="{{asset('bundles/report/js/highcharts-3d.js')}}"></script>
        <script src="{{asset('bundles/report/js/modules/exporting.js')}}"></script>
        <script src="{{asset('bundles/report/js/modules/data.js')}}"></script>
        <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
        <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
        <script src="{{ asset('bundles/report/js/bootstrap-table.js') }}"></script>

    {% endblock %}

{% endblock %}

