{% block body %}
    <div style="padding: 10px;">
        <table id="table"
               dropdown-toggle="open"
               data-cache="true" 
               data-show-refresh="true" 
               data-show-toggle="true" 
               data-show-columns="true"
               data-select-item-name="toolbar1"
               data-show-export ="true"
               data-export-types="['pdf', 'csv', 'excel']"
               data-pagination="true"
               data-page-size="10"
               data-page-number="1">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th data-field="{{header}}">{{header}}</th>
                        
                        {% endfor %}
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {#    <script src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>#}
   
    <script>
       
        $(function () {
            $('#table').bootstrapTable({
                data: {{objects|raw}}
            });
        });
    </script>
{% endblock %}
