{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" src="{{ asset('bundles/corebundle/css/core.css') }}" type="text/css" />
    <style type="text/css">

        .institutionalTableAlign li
        {
            float: left;
            margin-right: 5px;
        }
        .tableWidth th
        {
            max-width: 75% !important;
        }
        .tableWidth td
        {
            max-width: 75% !important;
        }

        .inLineLabel{
            font-size: .8em;
            padding: 2px;
            border-color: transparent;
            background-color: transparent;
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: transparent;
            opacity: 1;
        }

        @media not all, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi){

            .icheckbox_square-blue, .iradio_square-blue {
                /* background-image: url(blue@2x.png); */
                -webkit-background-size: 240px 24px;
                background-size: 240px 24px;
            }
        }
    </style>
{% endblock%}

{% block sonata_tab_content %}

    {{parent()}}
    {% block block %}
        <div class="col-md-12 success">
            <div class="box box-solid box-danger">
                <div class="box-header">
                    <h4 class="box-title">
                        Uploaded Documents
                    </h4>
                </div>
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        <div class="form-group text-center">
                            {% if object.docFiles != '' %}
                                {% set photos=object.docFiles|split(",") %} 
                                {% for photo in photos %} 
                                    {%if ".png" in photo|lower or ".jpg" in photo|lower or ".jpeg" in photo|lower %}
                                        <span> <a class="fancybox" href="{{asset('uploads/document/')}}{{photo}}"> 
                                            <img src="{{asset('uploads/document/')}}{{photo}}" style="height: 100px;">
                                            </a>
                                        </span>
                                    {% else %}
                                        <a target="_blank" href="{{asset('uploads/document/')}}{{photo}}" style="font-size: 20px"> 
                                            {{photo}}
                                        </a> 
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span>No files uploaded</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    {% endblock %}
{% endblock %}



{% block javascripts %}


    {{ parent() }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <script type="text/javascript">

        $(document).ready(function () {

            console.log('paulemgh', $("#{{admin.uniqId}}_docs").val())
            var type = $("#{{admin.uniqId}}_type").val();

            if (type === 'abc-ppp') {
                $("#sonata-ba-field-container-{{ admin.uniqId }}_leadFirm").hide();
            }


            funcType();


        });

        function funcType()
        {
            $(document).delegate("#{{ admin.uniqId }}_type", 'change', function () {
                if ($(this).val() === 'abc-ppp') {
                    $("#{{ admin.uniqId }}_cluster").val('');
                    $("#sonata-ba-field-container-{{ admin.uniqId }}_cluster").show();

                    $("#{{ admin.uniqId }}_leadFirm").val('');
                    $("#sonata-ba-field-container-{{ admin.uniqId }}_leadFirm").hide();
                } else if ($(this).val() === 'vc-ppp') {
                    $("#{{ admin.uniqId }}_cluster").val('');


                    $("#{{ admin.uniqId }}_leadFirm").val('');
                    $("#sonata-ba-field-container-{{ admin.uniqId }}_leadFirm").show();
                }
            });

        }
        $(document).ajaxComplete(function () {
            $('.txtDateCap').datepicker({dateFormat: 'M d, yy'});
            $('.txtDate').datepicker({
                changeYear: true,
                dateFormat: 'mm-yy'
            });
        });
    </script>           
{% endblock %}