{# empty Twig template #}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}

    {% set today='now'|date('Y-m-d') %}

    {% set expirationDay = object.expirationDate|date('Y-m-d') %}


    <div id="test">
        {% if object.expirationDate is defined and object.expirationDate|date('Y-m-d') != null %}

            {% set daysLeft = date(expirationDay).diff(date(today))%}


            {% if expirationDay  > today %}

                <div class="box box-solid box-success" style="margin:0px;font-size:14px">
                    <div class="box-header" style="padding:2px">
                        <h5 class="">
                            {{daysLeft.days}} Day(s) More
                        </h5>
                    </div>
                </div>
            {% else %}
                <div class="box box-solid box-danger" style="margin:0px;font-size:14px">
                    <div class="box-header" style="padding:2px">
                        <h5 class="">
                            {{daysLeft.days}} Day(s) More
                        </h5>
                    </div>
                </div>
            {% endif %}

        {% else %}


            <div>
                <div class="box box-solid box-warning" style="margin:0px;font-size:14px">
                    <div class="box-header" style="padding:2px">
                        <h5 class="">
                            No date set Yet
                        </h5>
                    </div>
                </div>
            </div>  
        {% endif %}
        {# {% if photos is defined and photos != null %}   
             {% for photo in photos %}          
                 <a class="fancybox"  href="{{asset('uploads/actor/')}}{{photo}}"> 
                     <img src="{{ asset('uploads/actor/') }}{{photo}}" style="
                          height: 40px; width: 40px;" 
                          ></a>
                 {% endfor %}
             {% else %}
             <a class="fancybox" href="{{asset('bundles/report/image/sky.png')}}"> 
 
                 <img src="{{asset('bundles/report/image/sky.png')}}" style="height: 40px; width: 40px;">
 
             </a>
         {% endif %}#}
    </div>
{% endblock %}
