{# empty Twig template #}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <div id="test">
        {% if object.movImage is defined and object.movImage !=null %}
            {% set photos=object.movImage|split(",") %} 
        {% elseif object.pix is defined   and object.pix !=null %}
            {% set photos=object.movImage|split(",") %} 
        {% endif %}
        {% if photos is defined and photos != null %}   
            {% for photo in photos %}          
                <a class="fancybox"  href="{{asset('uploads/movie/')}}{{photo}}"> 
                    <img src="{{ asset('uploads/movie/') }}{{photo}}" style="
                         height: 40px; width: 40px;" >
                </a>
                {% endfor %}
            {% else %}
            <a class="fancybox" href="{{asset('bundles/report/image/movieFav.png')}}"> 

                <img src="{{asset('bundles/report/image/movieFav.png')}}" style="height: 40px; width: 40px;">

            </a>
        {% endif %}
    </div>
{% endblock %}