{% extends 'SonataAdminBundle::church_admin_layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a></li>
    <li class="active">Report</li>                                                                              
    {% endblock %}
    {% block stylesheets %}
        {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/report/css/bootstrap-table.css') }}"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.3/esri-leaflet-geocoder.css">
{% endblock %}
{% block list_table %}
    <div class="col-xs-12 col-md-12">

        <div class="box box-primary fa-g" style="margin-bottom: 20px;">
            <div class="box-body table-responsive no-padding">
                <div style="padding: 10px;">
                    <table  id="memberTable"
                            class="table table-striped table-bordered table-hover"
                            dropdown-toggle="open"
                            data-cache="true" 
                            data-show-refresh="true" 
                            data-show-toggle="true" 
                            data-show-columns="true"
                            data-select-item-name="toolbar1"
                            data-show-export ="true"
                            data-export-types="['pdf', 'csv', 'excel']"
                            data-show-filter="true"
                            >
                        <thead>
                            <tr>
                                <th data-field="shopName" class="chartName"> Category</th>
                                {#<th data-field="ownerName" class="">Male </th>
                                <th data-field="ownerName" class="">Female </th>#}
                                <th data-field="ownerName" class="">Total </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in category %} 
                                <tr>
                                    <td>{{entity.name}}</td>
                                    <td>{{entity.total}}</td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-body table-responsive no-padding hidden">
                <div style="padding: 10px;">
                    <table  id="memberTableGraph"
                            class="table table-striped table-bordered table-hover"
                            dropdown-toggle="open"
                            data-cache="true" 
                            data-show-refresh="true" 
                            data-show-toggle="true" 
                            data-show-columns="true"
                            data-select-item-name="toolbar1"
                            data-show-export ="true"
                            data-export-types="['pdf', 'csv', 'excel']"
                            data-show-filter="true"
                            >
                        <thead>
                            <tr>
                                <th data-field="shopName" class="chartName">Category</th>
                                <th data-field="ownerName" class="">total </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in category %} 
                                <tr>
                                    <td>{{entity.name}}</td>
                                    <td>{{entity.total}}</td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-body table-responsive no-padding hidden">
                <div style="padding: 10px;">
                    <table  id="memberTablePie"
                            class="table table-striped table-bordered table-hover"
                            dropdown-toggle="open"
                            data-cache="true" 
                            data-show-refresh="true" 
                            data-show-toggle="true" 
                            data-show-columns="true"
                            data-select-item-name="toolbar1"
                            data-show-export ="true"
                            data-export-types="['pdf', 'csv', 'excel']"
                            data-show-filter="true"
                            >
                        <thead>
                            <tr>
                                <th data-field="shopName" class="chartName">Class Name</th>

                                <th data-field="ownerName" class="">Total </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in category %} 
                                <tr>
                                    <td>{{entity.name}}</td>
                                    <td>{{entity.total}}</td>
                                </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="panel-body progress-panel col-sm-6">
            <div id="pie" style="height: 600px"></div>
        </div>
        <div class="panel-body progress-panel col-sm-6">
            <div id="member" style="height: 600px"></div>
        </div>
    </div>
{% endblock %}
{% block list_filters %}

{% endblock %}





{% block javascripts %}
    {{ parent() }} 
    <script>
        $(function () {
            $('#member').highcharts({
                colors: ['#FF9655', '#FFF263', '#6AF9C4'],
                chart: {
                    type: 'column'
                },
                data: {
                    table: 'memberTableGraph'
                },
                title: {
                    text: 'The Movie Category Pie Representation',
                },
                subtitle: {
                    text: 'Source: sjmcth.com'
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Count'
                    }
                },

                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },

            });
        });
    </script>
    <script>
        $(function () {

            $('#pie').highcharts({
                colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
                data: {
                    table: 'memberTablePie'
                },
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    }
                },
                title: {
                    text: 'The Movie Category Pie Representation'},
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Units'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                this.point.y + ' ' + this.point.name.toLowerCase();
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        },
                        showInLegend: true
                    }
                },
            });
        });
    </script> 


{% endblock %}
