@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #efefef;
}

body{
    font:14px/1.5 Arial, Helvetica, sans-serif;
    margin:0;
}


header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    color: #ffff;
    padding: 10px 40px;
    overflow: hidden;
}



.label-default {
    background-color: #cf003f;
}

.label-danger {
    /*background-color: #F60;*/
    background-color: red ;
}

header h1{
    font: normal 24px/1.5 'Open Sans', sans-serif;
    color: #fff;
}

header h2{
    font: normal 24px/1.5 'Open Sans', sans-serif;
    color: #fff;
}




header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;

}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul li a.active{
    background-color: #F05283;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}


@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
    text-decoration: none;
    color: #fff !important;
    font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
    color: #da431c;
}


.form-mini button:hover, .form-mini button:focus, .form-mini button:active, .form-mini button.active, .open .dropdown-toggle.btn-info {
    background-color: #eb376c;
}
