/* fonts */

div.jqcloud {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 10px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors NOt My Thing*/
div.jqcloud { color: #795548; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #9E9E9E; }
div.jqcloud a:hover { color: #675b53; }
div.jqcloud span.w10.notMyThing { color: #9f9f9f; }
div.jqcloud span.w9.notMyThing { color: #2d5058; }
div.jqcloud span.w8.notMyThing { color: #65828a; }
div.jqcloud span.w7.notMyThing { color: #39d; }
div.jqcloud span.w6.notMyThing { color: #90c5f0; }
div.jqcloud span.w5.notMyThing { color: #90a0dd; }
div.jqcloud span.w4.notMyThing { color: #566085; }
div.jqcloud span.w3.notMyThing { color: #a0ddff; }
div.jqcloud span.w2.notMyThing { color: #99ccee; }
div.jqcloud span.w1.notMyThing { color: #9E9E9E; }
div.jqcloud span.notMyThing:hover { 
color: #e41269;
 }
 
/* colors  My Thing*/
div.jqcloud { color: #e41269; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #9E9E9E; }
div.jqcloud a:hover { color: #675b53; }
div.jqcloud span.w10.myThing { color: #e30c65; }
div.jqcloud span.w9.myThing { color: #e41169; }
div.jqcloud span.w8.myThing { color: #930bb5; }
div.jqcloud span.w7.myThing { color: #4CAF50; }
div.jqcloud span.w6.myThing { color: #f0e990; }
div.jqcloud span.w5.myThing { color: #90a0dd; }
div.jqcloud span.w4.myThing { color: #e1005c; }
div.jqcloud span.w3.myThing { color: #009688; }
div.jqcloud span.w2.myThing { color: #FF9800; }
div.jqcloud span.w1.myThing { color: rgba(127, 14, 53, 0.74); }
div.jqcloud span.myThing:hover { 
color: #9f9f9f;
 }
 
/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }