/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2017, 5:49:54 PM
    Author     : paulemgh
*/



.view_link{
    background-color:#41CAC0;
}
.edit_link{

    background-color:#58c9f3;
}

.delete_link{

    background-color:#ff6c60;
}

.btn .btn-success{
    box-shadow: 0 4px #61a642;
}


div.sonata-ba-field-inline-table  {
    overflow:auto;
}
/*
 * Skin: Black
 * -----------
 */
/* skin-black navbar */

.skin-black .treeview-menu > li > a {
    color: #fff;
}
.skin-black .treeview-menu > li.active > a,
.skin-black .treeview-menu > li > a:hover {
    color: #1d1d1d;

}


.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    background: #ec187d;
}
.skin-black .sidebar > .sidebar-menu > li >treeview {
    text-transform: uppercase;
}

.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
    color: #010202;
    background: #fff200;
    border-left-color: #fff;
}

.skin-black .main-sidebar, .skin-black .left-side, .skin-black .wrapper{
    background: #25176b;
}

.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    -o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
/*.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
  background: #0e3029;
}*/
/*fading menu
}*/

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #FF6C60;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
table.sonata-ba-list img {
    max-width: 200%; 
}
hr {
    margin-top:0px;
    margin-bottom:0px;
    border: 0;
    border-top: 1px solid #eee;
}

.alert-default {
    background-color: #BFC3C1 !important;
}

/*.table-responsive.no-padding{
overflow-y: scroll;
height:400px;
}*/

.skin-black .main-header>.logo {
    color: #ec187d;
}

.logo img + span {
    width: 96px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto; 
    text-align: center;
}

.skin-black .main-header li.user-header {
    background-color: #003171 !important;
}


.btn-active {
    background-color: #e41269;
    border-color: #e41269;
    color: white

}
.btn-active:hover {
    background-color: #e41269;
    border-color: #e41269;
    color: white
}

.btn-bleed {
    background-color: #ca0000;
    border-color: #ca0000;
    color: white
}

/*
body {
    background-color: #F1F1F2;

}*/

.panel {
    /*margin-bottom: 20px;*/
    background-color: transparent;
    /*    border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: 0 1px 1px rgba(0,0,0,0.05);*/
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Proxima Nova', Georgia, sans-serif !important;
    /*font-weight: 200;*/
}


.highcharts-yaxis-title{
    font-family: 'Proxima Nova' !important;
    font-size: 2em;
    font-weight: lighter
}

.highcharts-legend-item {
    font-family: 'Proxima Nova' !important;
    font-size: 1.5em  !important;;
    font-weight: lighter  !important;
}


.blue{
    background:#1F4788 
}

.crimson{
    background: #C91F37 
}

.monza{
    background: #CF000F 
}

.freshOnion{
    background:#5B8930
}
.bellFlower {background:#5D3F6A}
.herb {background:#317589}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 20px;
}
.lds-ellipsis div {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background:#5B8930;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
